<div>
  <div *ngIf="this.posts.length > 0; else loadingTemplate" class="space-y-4 pt-0">

    <main class="space-y-0 mt-2 px-0 md:px-0">
      <!-- -->
      <div class="grid grid-cols-1 md:grid-cols-1 gap-2">

        <div *ngFor="let item of this.posts">
          <article #theLastList
            class="
          border  {{item.plan == 1? 'border-blue-600' : item.plan == 2 ? 'border-purple-500' : 'border-l-0 border-r-0 border-zinc-200 dark:border-zinc-800 '}}
          my-0 break-inside  bg-zinc-50 dark:bg-background-dark dark:text-zinc-200 flex flex-col bg-clip-border w-full shadow-sm">

            <div class="flex p-4 items-center justify-between">
              <div class="flex">
                <a class="inline-block mr-4" routerLink="/{{item.User!.username}}">

                  <div *ngIf="item.User!.Profile else noProfile">
                    <img *ngIf="item.User!.Profile!.length > 0" class="rounded-full max-w-none w-12 h-12 object-cover"
                      src="{{item.User!.Profile!.length > 0 ? this.prinImages(item.User!.Profile!) : ''}}" />
                    <div *ngIf="item.User!.Profile?.length == 0"
                      class="rounded-full max-w-none w-12 h-12 object-cover bg-zinc-200 dark:bg-zinc-700"></div>
                  </div>

                  <ng-template #noProfile>
                    <div class="rounded-full max-w-none w-12 h-12 object-cover bg-zinc-200 dark:bg-zinc-700"></div>
                  </ng-template>

                </a>
                <div class="flex flex-col truncate">
                  <div>
                    <a class="inline-block text-lg font-bold dark:text-white truncate-one "
                      routerLink="/{{item.User!.username}}">{{item.User!.name ? item.User!.name :
                      item.User!.username}}</a>
                  </div>
                  <div class="text-zinc-500 dark:text-zinc-400 text-xs">
                    {{item.planAt | dateAgo}}
                  </div>
                </div>
              </div>
              <div class="flex space-x-5 justify-between items-center">
                <div class="flex">
                  <span *ngIf="item.plan == 1 || item.plan ==2"
                    class=" py-1 text-sm text-white -top-1 right-4 rounded-full transform translate-x-2 -translate-y-3">
                    <div *ngIf="item.plan == 2" class="text-xs bg-purple-800  text-white px-2 rounded-full">
                      <i class="fas fa-share"></i>
                      <span class="font-bold">Gold</span>
                    </div>
                    <div *ngIf="item.plan == 1" class="text-xs bg-blue-800  text-white px-2 rounded-full">
                      <i class="fas fa-share"></i>
                      <span class="font-bold">Top</span>
                    </div>
                  </span>
                </div>
                <app-dropdown>
                  <ul class="cursor-pointer">
                    <li (click)="copyText(item)"
                      class="w-full py-2 px-4 hover:bg-zinc-100 hover:dark:bg-zinc-800 dark:hover:text-zinc-50">
                      {{'copy_link_post' | translate}}
                    </li>
                    <li class="w-full py-2 px-4 hover:bg-zinc-100 hover:dark:bg-zinc-800 dark:hover:text-zinc-50">
                      {{'report' | translate}}
                    </li>
                  </ul>
                </app-dropdown>
              </div>
            </div>

            <p class="px-2 mb-2">
              <a routerLink="/pu/{{item.slug}}"
                class="overflow-x-auto truncate-one font-medium text-base sm:text-lg text-primary-600 cursor-pointer">
                {{item.title}}
              </a>
            </p>

            <p class="px-2 text-sm">
              <read-more [text]="innerText(item.description)" [maxHeight]="22"></read-more>
            </p>

            <!-- <h2 class="text-3xl font-extrabold dark:text-white">
                Web Design templates Selection
              </h2> -->
            <div class="py-2">
              <app-post-media *ngIf="item.PostMedia!.length > 0 " [postMedia]="item.PostMedia"
                [slides]="item.PostMedia"></app-post-media>
            </div>
            <!-- <p class="dark:text-zinc-200">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                eiusmod tempor incididunt ut labore et dolore magna aliqua.
              </p> -->
            <div class="px-4 flex justify-between space-x-3">
              <div class="flex space-x-3">
                <a class="inline-flex items-center" href="#">
                  <span class="mr-2">
                    <svg class="fill-rose-600 dark:fill-rose-400" style="width: 24px; height: 24px;"
                      viewBox="0 0 24 24">
                      <path
                        d="M12,21.35L10.55,20.03C5.4,15.36 2,12.27 2,8.5C2,5.41 4.42,3 7.5,3C9.24,3 10.91,3.81 12,5.08C13.09,3.81 14.76,3 16.5,3C19.58,3 22,5.41 22,8.5C22,12.27 18.6,15.36 13.45,20.03L12,21.35Z">
                      </path>
                    </svg>
                  </span>
                  <span class="text-xs font-bold">34</span>
                </a>


                <button (click)="onTipDialog(item)" class="flex items-center space-x-1">
                  <span class=" material-icons-outlined notranslate">paid</span>
                  <span class="text-xs">{{'sendTip' | translate}}</span>
                </button>
              </div>


              <button (click)="compartir(item)">Compartir</button>

            </div>
            
            <div class="relative" class="relative hidden">
              <input
                class="pt-2 pb-2 pl-3 w-full h-11 bg-zinc-100 dark:bg-zinc-600 rounded-lg placeholder:text-zinc-600 dark:placeholder:text-zinc-300 font-medium pr-20"
                type="text" placeholder="Write a comment" />
              <span class="flex absolute right-3 top-2/4 -mt-3 items-center">
                <svg class="mr-2" style="width: 26px; height: 26px;" viewBox="0 0 24 24">
                  <path fill="currentColor"
                    d="M20,12A8,8 0 0,0 12,4A8,8 0 0,0 4,12A8,8 0 0,0 12,20A8,8 0 0,0 20,12M22,12A10,10 0 0,1 12,22A10,10 0 0,1 2,12A10,10 0 0,1 12,2A10,10 0 0,1 22,12M10,9.5C10,10.3 9.3,11 8.5,11C7.7,11 7,10.3 7,9.5C7,8.7 7.7,8 8.5,8C9.3,8 10,8.7 10,9.5M17,9.5C17,10.3 16.3,11 15.5,11C14.7,11 14,10.3 14,9.5C14,8.7 14.7,8 15.5,8C16.3,8 17,8.7 17,9.5M12,17.23C10.25,17.23 8.71,16.5 7.81,15.42L9.23,14C9.68,14.72 10.75,15.23 12,15.23C13.25,15.23 14.32,14.72 14.77,14L16.19,15.42C15.29,16.5 13.75,17.23 12,17.23Z">
                  </path>
                </svg>
                <svg class="fill-primary-600 dark:fill-zinc-50" style="width: 24px; height: 24px;" viewBox="0 0 24 24">
                  <path d="M2,21L23,12L2,3V10L17,12L2,14V21Z"></path>
                </svg>
              </span>
            </div>
            <!-- contacts -->
            <div *ngIf="item.plan == 2 || item.plan == 1 || item.plan == 0"
              class=" mt-2 flex items-center justify-center mx-0 text-lg space-x-0 sm:space-x-0">
              <div class="flex flex-wrap space-x-2 items-center">
                <a *ngIf="item.whatsapp && item.phone" (click)="onUpdateClick(item._id, 'whatsapp')"
                  class=" flex justify-between items-center space-x-1 text-xs font-semibold uppercase border border-zinc-300 dark:border-zinc-700 hover:bg-primary-50  hover:dark:bg-primary-800/10 text-zinc-600 dark:text-zinc-400 hover:text-primary-600  rounded-full p-2"
                  href="https://wa.me/{{item.phonePrefix}}{{item.phone}}/?text={{textMessage(item)}}" target="_blank">
                  <i class="fab fa-whatsapp"></i>
                  <span>WhatsApp</span>
                </a>
                <a *ngIf="item.phone" (click)="onUpdateClick(item._id, 'phone')"
                  class="flex justify-between items-center space-x-1 text-xs font-semibold uppercase border border-zinc-300 dark:border-zinc-700 hover:bg-primary-50  hover:dark:bg-primary-800/10 text-zinc-600 dark:text-zinc-400 hover:text-primary-600  rounded-full p-2"
                  href="tel:{{item.phonePrefix}} {{item.phone}}">
                  <i class="fas fa-phone-alt"></i>
                  <span>{{'phone' | translate}}</span>
                </a>
                <a *ngIf="item.telegram" (click)="onUpdateClick(item._id, 'telegram')"
                  class=" {{!item.phone ? 'flex' : 'flex'}} flex justify-between items-center space-x-1 text-xs font-semibold uppercase border border-zinc-300 dark:border-zinc-700 hover:bg-primary-50  hover:dark:bg-primary-800/10 text-zinc-600 dark:text-zinc-400 hover:text-primary-600  rounded-full p-2"
                  href="https://t.me/{{item.telegram}}" target="_blank">
                  <i class="fab fa-telegram"></i>
                  <span>Telegram</span>
                </a>
              </div>

            </div>

            <!-- Comments content -->
            <div class="pt-6 hidden">
              <!-- Comment row -->
              <div class="media flex pb-4">
                <a class="mr-4" href="#">
                  <img class="rounded-full max-w-none w-12 h-12" src="https://randomuser.me/api/portraits/men/82.jpg" />
                </a>
                <div class="media-body">
                  <div>
                    <a class="inline-block text-base font-bold mr-2" href="#">Leslie Alexander</a>
                    <span class="text-zinc-500 dark:text-zinc-300">25 minutes ago</span>
                  </div>
                  <p>Lorem ipsum dolor sit amet, consectetur.</p>
                  <div class="mt-2 flex items-center">
                    <a class="inline-flex items-center py-2 mr-3" href="#">
                      <span class="mr-2">
                        <svg class="fill-rose-600 dark:fill-rose-400" style="width: 22px; height: 22px;"
                          viewBox="0 0 24 24">
                          <path
                            d="M12,21.35L10.55,20.03C5.4,15.36 2,12.27 2,8.5C2,5.41 4.42,3 7.5,3C9.24,3 10.91,3.81 12,5.08C13.09,3.81 14.76,3 16.5,3C19.58,3 22,5.41 22,8.5C22,12.27 18.6,15.36 13.45,20.03L12,21.35Z">
                          </path>
                        </svg>
                      </span>
                      <span class="text-base font-bold">12</span>
                    </a>
                    <button class="py-2 px-4 font-medium hover:bg-zinc-50 dark:hover:bg-zinc-700 rounded-lg">
                      Repply
                    </button>
                  </div>
                </div>
              </div>
              <!-- End comments row -->
              <!-- comments row -->
              <div class="media flex pb-4">
                <a class="inline-block mr-4" href="#">
                  <img class="rounded-full max-w-none w-12 h-12"
                    src="https://randomuser.me/api/portraits/women/76.jpg" />
                </a>
                <div class="media-body">
                  <div>
                    <a class="inline-block text-base font-bold mr-2" href="#">Tina Mills</a>
                    <span class="text-zinc-500 dark:text-zinc-300">3 minutes ago</span>
                  </div>
                  <p>Dolor sit ameteiusmod consectetur adipiscing elit.</p>
                  <div class="mt-2 flex items-center">
                    <a class="inline-flex items-center py-2 mr-3" href="#">
                      <span class="mr-2">
                        <svg class="fill-rose-600 dark:fill-rose-400" style="width: 22px; height: 22px;"
                          viewBox="0 0 24 24">
                          <path
                            d="M12.1 18.55L12 18.65L11.89 18.55C7.14 14.24 4 11.39 4 8.5C4 6.5 5.5 5 7.5 5C9.04 5 10.54 6 11.07 7.36H12.93C13.46 6 14.96 5 16.5 5C18.5 5 20 6.5 20 8.5C20 11.39 16.86 14.24 12.1 18.55M16.5 3C14.76 3 13.09 3.81 12 5.08C10.91 3.81 9.24 3 7.5 3C4.42 3 2 5.41 2 8.5C2 12.27 5.4 15.36 10.55 20.03L12 21.35L13.45 20.03C18.6 15.36 22 12.27 22 8.5C22 5.41 19.58 3 16.5 3Z">
                          </path>
                        </svg>
                      </span>
                      <span class="text-base font-bold">0</span>
                    </a>
                    <button class="py-2 px-4 font-medium hover:bg-zinc-50 dark:hover:bg-zinc-700 rounded-lg">
                      Repply
                    </button>
                  </div>
                </div>
              </div>
              <!-- End comments row -->
              <!-- More comments -->
              <div class="w-full">
                <a href="#"
                  class="py-3 px-4 w-full block bg-zinc-100 dark:bg-zinc-700 text-center rounded-lg font-medium hover:bg-zinc-200 dark:hover:bg-zinc-600 transition ease-in-out delay-75">Show
                  more comments</a>
              </div>
              <!-- End More comments -->
            </div>
            <!-- End Comments content -->

          </article>
        </div>
      </div>
    </main>

  </div>

  <ng-template #loadingTemplate>
    <div class="my-10">
      <div *ngIf="loading; else noData" class="space-y-2">

        <section *ngFor="let item of this.postLoading"
          class="bg-zinc-50 dark:bg-zinc-800  p-4 w-full mx-auto space-y-2 shadow-sm">
          <div class="animate-pulse flex space-x-4">
            <div class="rounded-full bg-zinc-200 dark:bg-zinc-700 h-12 w-12"></div>
            <div class="flex-1 space-y-6 py-1">
              <div class="flex flex-col space-y-1">
                <div class="h-2 bg-zinc-200 dark:bg-zinc-700 rounded w-32">

                </div>
                <div class="h-2 bg-zinc-200 dark:bg-zinc-700 rounded w-24">

                </div>
              </div>

            </div>
          </div>
          <div class=" animate-pulse h-2 bg-zinc-200 dark:bg-zinc-700 rounded ">

          </div>
          <div class=" animate-pulse w-full h-44 md:h-112 bg-zinc-200 dark:bg-zinc-700 rounded ">

          </div>
        </section>

      </div>
      <ng-template #noData>
        <div class=" text-center font-light text-3xl">
          {{'there_is_no_data' | translate}}
        </div>
      </ng-template>
    </div>
  </ng-template>
</div>