
<div class="pb-10 bg-blueGray-200 -mt-24 max-w-5xl">
  <div class="container mx-auto px-4">
    <div class="flex flex-wrap">
      
      <div class="lg:pt-12 pt-6 w-full sm:w-6/12 md:w-4/12 px-4 text-center">
        <a href="bolivia/escorts">
          <div>
            <img src="./assets/categories/escorts.png" alt="Escorts" class="rounded-xl brightness-75 w-full" />
          </div>
          <p class="text-xs -translate-y-6 text-white font-semibold sm:-translate-y-8 sm:text-xl translate-x-0 flex space-x-1 items-center from-pink-600 via-pink-600 to-pink-700 bg-gradient-to-br rounded-b-xl py-2 justify-center">
            <img src="./assets/icon/white-icons8-bra-51.png" class="h-6" alt="Escorts">
            <a href="bolivia/escorts" class="text-xl font-semibold text-white hover:text-primary-200">Escorts</a>
          </p>
        </a>
      </div>

      <div class="w-full sm:w-6/12 md:w-4/12 px-4 text-center">
        <a href="bolivia/escorts-hombres">
          <div>
            <img src="./assets/categories/escorts-male.png" alt="Escorts Hombres" class="rounded-xl brightness-75 w-full" />
          </div>
          <p class="text-xs -translate-y-6 text-white font-semibold sm:-translate-y-8 sm:text-xl translate-x-0 flex space-x-1 items-center from-pink-600 via-pink-600 to-pink-700 bg-gradient-to-br rounded-b-xl py-2 justify-center">
            <img src="./assets/icon/white-icons8-baton-51.png" class="h-6" alt="Escorts">
            <a href="bolivia/escorts" class="text-xl font-semibold text-white hover:text-primary-200">Escorts Hombres</a>
          </p>
        </a>
      </div>

      <div class="pt-6 w-full sm:w-6/12 md:w-4/12 px-4 text-center">
        <a href="bolivia/encuentros">
          <div>
            <img src="./assets/categories/casual.png" alt="Encuentro Casual" class="rounded-xl brightness-75 w-full" />
          </div>
          <p class="text-xs -translate-y-6 text-white font-semibold sm:-translate-y-8 sm:text-xl translate-x-0 flex space-x-1 items-center from-pink-600 via-pink-600 to-pink-700 bg-gradient-to-br rounded-b-xl py-2 justify-center">
            <img src="./assets/icon/white-icons8-sex-offender-50.png" class="h-6" alt="Escorts">
            <a href="bolivia/encuentros" class="text-xl font-semibold text-white hover:text-primary-200">Encuentro Casual</a>
          </p>
        </a>
      </div>

      <div class="lg:pt-12 pt-6 w-full sm:w-6/12 md:w-4/12 px-4 text-center">
        <div class="">
          <a href="bolivia/masajes">
            <img src="./assets/categories/massages.png" alt="asaje Erótico" class="rounded-xl brightness-75 w-full" />
          </a>
          <p class="text-xs -translate-y-6 text-white font-semibold sm:-translate-y-8 sm:text-xl translate-x-0 flex space-x-1 items-center from-pink-600 via-pink-600 to-pink-700 bg-gradient-to-br rounded-b-xl py-2 justify-center">
            <img src="./assets/icon/white-icons8-massage-50.png" class="h-6" alt="Masaje Erótico">
            <a href="bolivia/masajes" class="text-xl font-semibold text-white hover:text-primary-200">Masaje Erótico</a>
          </p>
        </div>
    
      </div>

      <div class="w-full sm:w-6/12 md:w-4/12 px-4 text-center">
        <div class="">
          <a href="bolivia/sugar-dadys">
            <img src="./assets/categories/sugar-daddy.png" alt="Sugar Dadys" class="rounded-xl brightness-75 w-full" />
          </a>
          <p class="text-xs -translate-y-6 text-white font-semibold sm:-translate-y-8 sm:text-xl translate-x-0 flex items-center from-pink-600 via-pink-600 to-pink-700 bg-gradient-to-br rounded-b-xl py-2 justify-center">
            <img src="./assets/icon/white-icons8-fathers-day-64.png" class="h-6" alt="Sugar Dadys">
            <a href="bolivia/sugar-dadys" class="text-xl font-semibold text-white hover:text-primary-200">Sugar Dadys</a>
          </p>
        </div>
      </div>

      <div class="pt-6 w-full sm:w-6/12 md:w-4/12 px-4 text-center">
        <div class="">
          <a href="bolivia/empleos">
            <img src="./assets/categories/employ.png" alt="Empleos" class="rounded-xl brightness-75 w-full" />
          </a>
          <p class="text-xs -translate-y-6 text-white font-semibold sm:-translate-y-8 sm:text-xl translate-x-0 flex items-center from-pink-600 via-pink-600 to-pink-700 bg-gradient-to-br rounded-b-xl py-2 justify-center">
            <img src="./assets/icon/white-icons8-escort-51.png" class="h-6" alt="Empleos">
            <a href="bolivia/empleos" class="text-xl font-semibold text-white hover:text-primary-200">Empleos</a>
          </p>
        </div>
      </div>

    </div>
  </div>
  
</div>