
<div *ngIf="isBrowser">
  <app-menu-one [countrySlug] = "countrySlug" [categorySlug] = "categorySlug" [fixed] = true></app-menu-one>
  <div class="max-w-5xl mx-auto mt-16 mb-10">
    <div class="space-y-5">    
      <div class="pt-5">
          <div *ngIf="this.categorySlug && postName; else title" class=" px-2 sm:px-0">
            <div class="flex space-x-2 overflow-x-hidden">
              <a routerLink="/" class="w-8 h-8 flex justify-center items-center rounded-md border border-secondary-500 py-1 px-1 text-xs text-secondary-50 bg-secondary-600">
                <i class="fas fa-home"></i>
              </a>
              
              <div *ngIf="postName.AdCategory" class="flex space-x-2">
                <div class="flex justify-center items-center text-xs"> 
                  <i class="fas fa-chevron-right"></i>
                </div>
                <a
                  class="flex justify-center items-center rounded-md border border-secondary-500 py-1 px-2 text-sm text-secondary-50 bg-secondary-600" 
                  routerLink="/{{countrySlug}}/{{categorySlug}}">
                  {{this.postName.AdCategory}}
                </a>
              </div>
              <div *ngIf="postName.StateCity" class="flex space-x-2">
                <div class="flex justify-center items-center text-xs"> 
                  <i class="fas fa-chevron-right"></i>
                </div>
                <a
                class="flex justify-center items-center rounded-md border border-secondary-500 py-1 px-2 text-sm text-secondary-50 bg-secondary-600"  
                  routerLink="/{{countrySlug}}/{{categorySlug}}/{{stateCitySlug}}">
                  {{this.postName.StateCity}}
                </a>
              </div>
              <div *ngIf="postName.CityZone" class="flex space-x-2">
                <div class="flex justify-center items-center text-xs">
                  <i class="fas fa-chevron-right"></i> 
                </div>
                <a
                class="flex justify-center items-center rounded-md border border-secondary-500 py-1 px-2 text-sm text-secondary-50 bg-secondary-600"  
                  routerLink="/{{countrySlug}}/{{categorySlug}}/{{stateCitySlug}}/{{cityZoneSlug}}">
                  {{this.postName.CityZone}}
                </a>
              </div>
            </div>

            <h1 class="flex space-x-1 text-xs text-secondary-100 mt-5">
                <span *ngIf="postName.AdCategory">
                  {{this.postName.AdCategory}}
                </span>
                <span class=" lowercase">
                    {{'in' | translate}}
                </span>
                <span *ngIf="postName.Country && !postName.StateCity && !postName.CityZone">
                  {{this.postName.Country}}
                </span>

                <span *ngIf="postName.Country && postName.StateCity && !postName.CityZone">
                  {{this.postName.StateCity}}
                </span>

                <span *ngIf="postName.Country && postName.StateCity && postName.CityZone">
                  {{this.postName.CityZone}}
                </span>
              </h1>
        </div>
        <ng-template #title>
          <h1 class=" text-secondary-50 font-light text-center">
            <span class="text-3xl md:text-5xl">Sexo sudor y placer</span> 
          </h1>
          <h1 class=" text-secondary-100 font-light text-center">
            <span class="text-md">Encuentra tu pareja para hacer el delicioso 😋</span>
          </h1>
        </ng-template>
        <div class="uppercase text-xs px-2 mt-5 mb-6">
          {{date | date}}
        </div>
        
        <div
          infiniteScroll
          (scrolled)="onScrollDown()"
          >
          <!-- -->
          <div class="space-y-5 px-1 mt-2">
            <div *ngFor="let item of this.posts; let i = index " class="containter mx-auto"> <!-- | async -->
              <div #theLastList class="border  text-slate-100   rounded-lg {{item.plan == 1? 'border-blue-600' : item.plan == 2 ? 'border-purple-500' : 'border-secondary-600'}} bg-secondary-700 shadow-lg relative hover:shadow-xl transition duration-500 ">
                
                <div class="grid  grid-cols-5  sm:grid-flow-col gap-1 h-52">
                  <div *ngIf="item.plan == 1 || item.plan ==2" class=" h-52 col-span-2 sm:col-span-1 bg-transparent rounded-md flex justify-center items-center">
                    <carousel *ngIf="item.plan == 2" class="w-full">
                      <ng-container *ngFor="let image of item.PostMedia">
                        <ng-container *carouselItem>
                          <div class="item w-52 h-52 ">
                            <img class="h-full w-full object-cover rounded-l-md" src="{{image.url}}"/>
                          </div>
                        </ng-container>
                      </ng-container>
                    </carousel> 
                    <div *ngIf="item.plan == 1" class=" w-52 h-52">
                      <img src="{{prinImages(item.PostMedia)}}" class="h-full w-full object-cover rounded-l-md" alt="">
                    </div>
                  </div>
          
                  <div class=" {{item.plan == 1 || item.plan ==2 ? ' col-span-3 sm:col-span-4 row-span-2' : 'col-span-5'}} px-2 pt-2 overflow-x-hidden rounded-2xl relative">
                    
                    <div class="h-full grid grid-cols-1 gap-1 content-between">
                      <div class="space-y-4 md:space-y-5 mt-0 md:mt-2">
                        
                        <a routerLink="/pu/{{item.slug}}" class="space-y-2">     
                          <span class=" truncate-title font-normal text-lg text-primary-600">{{item.title}}</span>
                          <span class="text-sm tracking-tight font-normal leading-6 truncate-description">
                              {{item.description}}
                          </span>
                        </a>
                        <p class="text-xs space-x-1 truncate text-secondary-100">
                          <span class="font-semibold text-purple-100">{{item.age}} años</span>
                          <span>|</span>
                          <span class="font-semibold">{{item.AdCategory!.name}}</span>
                          <span>|</span>
                          <span>{{item.StateCity!.name}}</span>
                        </p>
                      </div>
                      <div *ngIf="item.plan == 2" class="flex items-center justify-end mx-0 mt-3 mb-2 text-lg space-x-2 sm:space-x-4">
                        <a
                          class="border flex justify-between items-center space-x-1 text-xs uppercase border-secondary-600 bg-secondary-600 text-secondary-50 rounded-md p-2"  
                          href="https://wa.me/{{item.phonePrefix}}{{item.phone}}/?text={{textMessage(item)}}" target="_blank">
                          <i class="fab fa-whatsapp"></i>
                          <span>WhatsApp</span>
                        </a>
                        <a
                          class="border flex justify-between items-center space-x-1 text-xs uppercase border-secondary-600 bg-secondary-600 text-secondary-50 rounded-md p-2"   
                          href="tel:{{item.phonePrefix}} {{item.phone}}">
                          <i class="fas fa-phone-alt"></i>
                          <span>Telefono</span>
                        </a>
                      </div>
                    </div>
                  </div>
                  
                </div>
                <div>
                  <span *ngIf="item.plan == 1 || item.plan ==2" class="absolute py-1 text-sm text-white -top-1 right-4 rounded-full transform translate-x-2 -translate-y-3">
                    <div *ngIf="item.plan == 2" class="text-xs bg-purple-800  text-white px-2 rounded-full">
                      <i class="fas fa-share"></i>
                      <span class="font-bold">Top</span><span> premium</span>
                    </div>
                    <div *ngIf="item.plan == 1" class="text-xs bg-blue-800  text-white px-2 rounded-full">
                      <i class="fas fa-share"></i>
                      <span class="font-bold">Top</span>
                    </div>
                  </span>
                </div>
              </div>

            </div>
          </div>
          <!-- end -->
          <button *ngIf="showButton" (click)="onScrollTop()" class="button">
            <i class="fas fa-caret-up"></i>
          </button>
        </div>
      </div>

    </div>
  </div>
</div>
