
<div *ngIf="isBrowser">
  <app-menu-one [countrySlug] = "countrySlug" [categorySlug] = "categorySlug" [stateCitySlug]="stateCitySlug" [cityZoneSlug]="cityZoneSlug"  [fixed] = true></app-menu-one>

  <div class="max-w-4xl mx-auto mt-16 mb-10 px-2 sm:px-0">
    <div *ngIf="this.posts.length > 0; else loadingTemplate" class="space-y-5 pt-5">    
        <div *ngIf="this.categorySlug && postName ; else title" class="  ">
          <div class="flex space-x-2 overflow-x-hidden">
            <a routerLink="/" class="w-8 h-8 flex justify-center items-center rounded-sm border border-primary-600 py-1 px-1 text-xs text-primary-600 ">
              <i class="fas fa-home"></i>
            </a>
            
            <div *ngIf="postName.AdCategory" class="flex space-x-2">
              <div class="flex justify-center items-center text-xs text-primary-600"> 
                <i class="fas fa-chevron-right"></i>
              </div>
              <a
                class="flex justify-center uppercase text-xs items-center rounded border border-primary-600 py-1 px-2  text-primary-600 " 
                routerLink="/{{countrySlug}}/{{categorySlug}}">
                {{this.postName.AdCategory}}
              </a>
            </div>
            <div *ngIf="postName.StateCity" class="flex space-x-2">
              <div class="flex justify-center items-center text-xs text-primary-600"> 
                <i class="fas fa-chevron-right"></i>
              </div>
              <a
              class="flex justify-center uppercase items-center rounded border border-primary-600 py-1 px-2 text-xs text-primary-600 "  
                routerLink="/{{countrySlug}}/{{categorySlug}}/{{stateCitySlug}}">
                {{this.postName.StateCity}}
              </a>
            </div>
            <div *ngIf="postName.CityZone" class="flex space-x-2">
              <div class="flex justify-center items-center text-xs text-primary-600">
                <i class="fas fa-chevron-right"></i> 
              </div>
              <a
              class="flex justify-center uppercase items-center rounded border border-primary-600 py-1 px-2 text-sm text-primary-600"  
                routerLink="/{{countrySlug}}/{{categorySlug}}/{{stateCitySlug}}/{{cityZoneSlug}}">
                {{this.postName.CityZone}}
              </a>
            </div>
          </div>

          <h1 class="flex space-x-1 text-xs mt-5">
              <span *ngIf="postName.AdCategory">
                {{this.postName.AdCategory}}
              </span>
              <span class=" lowercase">
                  {{'en' | translate}}
              </span>
              <span *ngIf="postName.Country && !postName.StateCity && !postName.CityZone">
                {{this.postName.Country}}
              </span>

              <span *ngIf="postName.Country && postName.StateCity && !postName.CityZone">
                {{this.postName.StateCity}}
              </span>

              <span *ngIf="postName.Country && postName.StateCity && postName.CityZone">
                {{this.postName.CityZone}}
              </span>
            </h1>
      </div>

      <ng-template #title>
        <h1 class=" font-light text-center">
          <span class="text-3xl md:text-5xl">Sexo sudor y placer</span> 
        </h1>
        <h1 class="  font-light text-center">
          <span class="text-md">Encuentra tu pareja para hacer el delicioso 😋</span>
        </h1>
      </ng-template>
      
     <div class="hidden flex-shrink-0">
      <div class="flex flex-shrink-0 text-xs bg-gradient-to-r space-x-1 from-primary-600 via-purple-800 to-secondary-600  text-white px-2 rounded-full">
        <i class="fas fa-share"></i>
        <span class="font-bold text-xs">Super</span><span> Top</span>
      </div>
     </div>

      <div *ngIf="this.postStories" class="flex overflow-x-auto  space-x-8 w-full ">
        <div  class="flex justify-center space-x-2 md:space-x-5 ">
          <figure *ngFor="let item of this.postStories; let i = index">
            <a routerLink="/pu/{{item.slug}}" target="_blank"  class="relative cursor-pointer flex w-28 h-44 md:w-36 md:h-52 justify-center overflow-hidden rounded-lg transform transition-transform duration-300 ease-in-out hover:-translate-y-1">
              <!-- (click)="onViewPost(item)" -->
              <div>
                <img src="{{prinImages(item.PostMedia)}}" 
                  class="w-28 h-44 md:w-36 md:h-52 rounded-lg mx-auto object-cover " alt="">
              </div>
              <div class="absolute bottom-0 left-2 mb-2 flex">
                <p class="flex items-center font-medium text-white shadow-sm text-xs">
                  <i class="fa fa-camera mr-2 text-white"></i>
                  <span>{{item.PostMedia.length}}</span>
                </p>
              </div>
              <div class="absolute bottom-0 right-5 mb-3 hidden">
                <p class="flex items-center font-medium text-gray-800">
                  <i class="fa fa-heart mr-2 text-sm text-white"></i>
                </p>
              </div>
              
              <span class="absolute top-0 right-2 z-10 mt-2 ml-2 inline-flex select-none rounded-sm px-0 text-xs font-semibold text-white truncate-story">{{item.title}}</span>
              <!-- 
                <span class="absolute top-0 right-2 z-10 mt-3 ml-3 inline-flex select-none rounded-sm bg-[#1f93ff] px-2 py-1 text-xs font-semibold text-white"> Residential </span>
                <span class="absolute top-0 left-0 z-10 mt-3 ml-3 inline-flex select-none rounded-lg bg-transparent px-3 py-2 text-lg font-medium text-white"> <i class="fa fa-star"></i> </span>
              -->
            </a>                
          </figure>
        </div>
      </div>
      
      <div class="uppercase text-xs px-0 mt-5 mb-6">
        {{date | date}}
      </div>

      <iframe class="hidden" width="560" height="315" [src]='safeURL' frameborder="0" allowfullscreen></iframe>

      <!-- -->
      <div class="space-y-5 px-0 mt-2">
        <figure *ngFor="let item of this.posts" >
          <div  #theLastList class="flex border  text-slate-800   rounded-lg {{item.plan == 1? 'border-secondary-100' : item.plan == 2 ? 'border-secondary-100' : 'border-secondary-100'}} bg-secondary-50  shadow-lg relative hover:shadow-xl transition duration-500">
              <div class="flex flex-col items-center "> 
                
                <carousel *ngIf="item.plan == 2" class="  w-28 h-52 md:w-48 md:h-60 rounded-t-lg flex justify-center">
                  <ng-container *ngFor="let image of postMedia(item.PostMedia); let i = index">
                    <ng-container *carouselItem>
                      <img class="w-28 h-52 md:w-48 md:h-60 rounded-l-lg md:rounded-tr-none md:rounded-l-lg mx-auto object-cover" src="{{image.url}}"/>
                    </ng-container>
                  </ng-container>
                </carousel>  
                <div *ngIf="item.plan == 1 || item.plan == 0" class=" w-28 h-52 md:w-48 md:h-60">
                  <img src="{{prinImages(item.PostMedia)}}" 
                    class="w-28 h-52 md:w-48 md:h-60 rounded-l-lg md:rounded-tr-none md:rounded-l-lg mx-auto object-cover " alt="">
                </div>

                <div  *ngIf="item.plan == 1 || item.plan ==2" class="absolute top-0 left-2 mt-2 flex">
                  <p class="flex items-center font-medium text-white shadow-sm text-xs">
                    <i class="fa fa-camera mr-2 "></i>
                    <span>{{item.PostMedia.length}}</span>
                  </p>
                </div>

                
              </div>
            
              <div class="p-2 sm:p-3 md:p-6 text-left space-y-4 w-full flex-shrink overflow-x-auto">
                <blockquote>
                  <a routerLink="/pu/{{item.slug}}" target="_blank"
                    class="overflow-x-auto truncate-title font-medium text-base sm:text-lg text-primary-600 cursor-pointer">
                    {{item.title}}
                  </a>

                  <div class="text-xs text-slate-700 italic lowercase hidden">
                    <span>{{item.planAt | dateAgo}}</span>
                  </div>

                  <!-- 
                     (click)="onViewPost(item)"
                      <a routerLink="/pu/{{item.slug}}" ></a>
                    -->
                </blockquote>
                <figcaption>
                  <a routerLink="/pu/{{item.slug}}" target="_blank"
                    class="text-sm tracking-tight font-normal leading-6 truncate-description overflow-x-auto">
                      {{item.description}}
                  </a>
                    <!-- 
                       <a routerLink="/pu/{{item.slug}}" ></a>
                    -->
                    <div class="flex text-xs space-x-1 truncate-zone  my-2">
                      <span class="font-semibold ">{{item.age}} años</span>
                      <span>|</span>
                      <span class="font-semibold">{{item.AdCategory!.name}}</span>
                      <span>|</span>
                      <span>{{item.StateCity!.name}}</span>
                    </div>
                    <div *ngIf="item.plan == 2 || item.plan == 1 || item.plan == 0" class=" mt-4 flex items-center justify-end mx-0 text-lg space-x-0 sm:space-x-0">
                      <div class="hidden">
                        <button type="button" (click)="toggleBookmark(item)" class="flex space-x-2 px-2 rounded-md items-center hover:bg-primary-100 hover:text-primary-600 text-secondary-500">
                          <span *ngIf="item.published"><i class="fas fa-eye"></i></span>
                          <span *ngIf="!item.published"><i class="fas fa-eye-slash"></i></span>
                          <span>{{item.published == true? 'Visible': 'No visible'}}</span>
                        </button>
                      </div>

                      <div class="flex flex-wrap space-x-2 items-center">
                        <a
                          *ngIf="item.telegram"
                          (click)="onUpdateClick(item._id, 'telegram')"
                          class=" {{!item.phone ? 'flex' : 'hidden'}} flex justify-between items-center space-x-1 text-xs font-semibold uppercase hover:bg-primary-100 hover:text-primary-600 text-secondary-500 rounded-md p-2"  
                          href="https://t.me/{{item.telegram}}" target="_blank">
                          <i class="fab fa-telegram"></i>
                          <span>Telegram</span>
                        </a>
                        <a
                          *ngIf="item.whatsapp && item.phone"
                          (click)="onUpdateClick(item._id, 'whatsapp')"
                          class=" flex justify-between items-center space-x-1 text-xs font-semibold uppercase hover:bg-primary-100 hover:text-primary-600 text-secondary-500 rounded-md p-2"  
                          href="https://wa.me/{{item.phonePrefix}}{{item.phone}}/?text={{textMessage(item)}}" target="_blank">
                          <i class="fab fa-whatsapp"></i>
                          <span>WhatsApp</span>
                        </a>
                        <a
                          *ngIf="item.phone"
                          (click)="onUpdateClick(item._id, 'phone')"
                          class=" flex justify-between items-center space-x-1 text-xs font-semibold uppercase hover:bg-primary-100 hover:text-primary-600 text-secondary-500 rounded-md p-2"   
                          href="tel:{{item.phonePrefix}} {{item.phone}}">
                          <i class="fas fa-phone-alt"></i>
                          <span>Telefono</span>
                        </a>
                      </div>
                      
                    </div>

                </figcaption>
              </div>

              <div class="hidden">
                <span *ngIf="item.plan == 1 || item.plan ==2" class="absolute py-1 text-sm text-white -top-1 right-4 rounded-full transform translate-x-2 -translate-y-3">
                  <div *ngIf="item.plan == 2" class="text-xs bg-gradient-to-r from-primary-600 via-purple-800 to-secondary-600  text-white px-2 rounded-full">
                    <i class="fas fa-share"></i>
                    <span class="font-bold text-xs">Super</span><span> Top</span>
                  </div>
                  <div *ngIf="item.plan == 1" class="text-xs bg-secondary-600  text-white px-2 rounded-full">
                    <i class="fas fa-share"></i>
                    <span class="font-bold">Top</span>
                  </div>
                </span>
              </div>
          </div>
        
        </figure>
        <div *ngIf="totalPages <= 100" class="flex flex-col items-center justify-center my-5">
          <app-loading></app-loading>
        </div>
      </div>
      <!-- end touchstart-->
      <button  (click)="onScrollTop()" class="button rounded-full bg-slate-800 opacity-70 w-8 h-8 text-slate-50"> <!-- *ngIf="showButton" -->
        <i class="fas fa-chevron-up"></i>
      </button>
    </div>
    <ng-template #loadingTemplate>
      <div class="my-56">
        <div *ngIf="loading; else noData" class="flex flex-col items-center justify-center">
          <app-loading></app-loading>
        </div>
        <ng-template #noData>
          <div class=" text-center font-light text-3xl">
            No hay datos
          </div>
        </ng-template>
      </div>
  </ng-template>

  </div>

  <app-footer-one></app-footer-one>
  
</div>
