
<div *ngIf="isBrowser">
  
  <header class="sticky top-0 left-0  w-full py-2 px-3 text-xs bg-zinc-50 dark:bg-zinc-900 dark:text-zinc-200 z-50">
    <div class="flex justify-between items-center h-10">
        <div (click)="onScrollTop()"  class="flex flex-col items-center uppercase font-bold cursor-pointer">
            <span>Home</span>
        </div>

        <a routerLink="/panel/create-ad/details/{{countryCode}}"  class="flex items-center">
          <i class=" material-icons-outlined notranslate inline-flex justify-center items-center w-5 h-5">add</i>
          <span>Create</span>
        </a>

    </div>
  </header>

  <app-show-search [searchModal] = "search" [countryCode] = "countryCode" [categorySlug] = "categorySlug" [stateCitySlug]="stateCitySlug" [cityZoneSlug]="cityZoneSlug"></app-show-search>
  
  <!-- <app-menu-one [width] = "width" [countryCode] = "countryCode" [categorySlug] = "categorySlug" [stateCitySlug]="stateCitySlug" [cityZoneSlug]="cityZoneSlug"  [fixed] = false></app-menu-one> -->
 
  <!-- 

   <header class="fixed  top-14 z-50 w-full ">
    <div class=" shadow " style=" background-color: #fff">
      <div class="{{width}} flex flex-row justify-center items-center sm:px-0 mx-auto mt-0 px-2 md:px-0 ">
        <nav>
          <jw-modal id="search">
            <div class="shadow-xl " style=" background-color: #f4f4f4">
              <div class="max-w-4xl mx-auto flex flex-col justify-between items-center space-y-5 py-6 px-4">
                <div class="flex justify-between w-full">
                  <div>
                    <img class="h-6" src="./assets/logo/logo.png" alt="onlypu.com">
                  </div>
                  <button (click)="closeModal('search');" class=" text-lg"><i class="fas fa-times"></i></button>
                </div>
                <div class="w-full">
                  <app-show-search [searchModal] = "searchText" [countryCode] = "countryCode" [categorySlug] = "categorySlug" [stateCitySlug]="stateCitySlug" [cityZoneSlug]="cityZoneSlug"></app-show-search>
                </div>
              </div>
            </div>
          </jw-modal>
        </nav>
      
        <nav class="hidden">
          <div (click)="openModal('search')" class="bg-white cursor-pointer rounded-full p-1 shadow-md border-gray-200 border items-center justify-between flex flex-row mx-0 md:mx-14 mt-5">
            <div class="p-2 rounded-full text-black">
                <svg xmlns="http://www.w3.org/2000/svg" class="h-4" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                  <circle cx="11" cy="11" r="8"></circle>
                  <line x1="21" y1="21" x2="16.65" y2="16.65"></line>
                </svg>
            </div>
        
            <div>
              <p class="text-xs text-gray-800 font-bold">Que buscas?</p>
              <p class="text-gray-800 text-xs">Encuentra cita en tu cuidad</p>
            </div>
  
            <div class="p-2 text-black rounded-full border border-gray-200">
              <svg xmlns="http://www.w3.org/2000/svg" class="h-4" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                  <path d="M20 7h-9"></path>
                  <path d="M14 17H5"></path>
                  <circle cx="17" cy="17" r="3"></circle>
                  <circle cx="7" cy="7" r="3"></circle>
                </svg>
            </div>
  
          </div>
        </nav>
      
        <nav class="overflow-x-auto w-full hidden sm:justify-center  space-x-2 md:space-x-5 mt-2 md:mt-4 bg-yellow-500">
          <ul (click)="onCategory(countryCode , item.slug!)" *ngFor="let item of this.adCategories; let i = index"  class="flex hover:border-b-2  border-gray-200  flex-shrink-0 flex-col items-center {{categorySlug == item.slug? 'border-b-2 border-black': ''}} cursor-pointer bg-purple-500">
            <li>
              <a routerLink="/{{countryCode}}/{{item.slug}}" class="text-xs text-center truncate {{categorySlug == item.slug? 'text-black font-bold' : 'text-gray-600'}}">
                <img class="h-7 w-7 mx-auto" src="{{item.icon}}" alt="{{item.name}}">
                {{item.name}}
              </a>
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </header>  
  -->
  <main  class="{{width}} mx-auto mb-10 px-2 md:px-2">
    <div *ngIf="this.posts.length > 0; else loadingTemplate" class="space-y-5 pt-0">    
      <section *ngIf="postName">
        <ul class="mt-5 space-x-2 overflow-x-hidden flex items-center"> 
          
          <li>
            <a routerLink="/{{countryCode}}" class="w-8 h-8 flex justify-center items-center rounded-sm border-none border-primary-600 py-1 px-1 text-xs text-salte-500 ">
              <i class="fas fa-home"></i>
            </a>
          </li>
          
          <li *ngIf="postName.PostAdCategory" class="space-x-2 flex">
            <div class="flex justify-center items-center text-xs text-primary-600"> 
              <i class="fas fa-chevron-right"></i>
            </div>
            <a
              class="flex justify-center font-semibold text-xs items-center rounded border-none border-primary-600 py-1 px-2  text-slate-500 " 
              routerLink="/{{countryCode}}/{{categorySlug}}">
              {{this.postName.PostAdCategory}}
            </a>
          </li>

          <li *ngIf="postName.StateCity" class="flex space-x-2">
            <div class="flex justify-center items-center text-xs text-primary-600"> 
              <i class="fas fa-chevron-right"></i>
            </div>
            <a
            class="flex justify-center font-semibold items-center rounded border-none border-primary-600 py-1 px-2 text-xs text-slate-500 "  
              routerLink="/{{countryCode}}/{{categorySlug}}/{{stateCitySlug}}">
              {{this.postName.StateCity}}
            </a>
          </li>

          <li *ngIf="postName.CityZone" class="flex space-x-2">
            <div class="flex justify-center items-center text-xs text-primary-600">
              <i class="fas fa-chevron-right"></i> 
            </div>
            <a
            class="flex justify-center font-semibold  items-center rounded border-none border-primary-600 py-1 px-2 text-sm text-slate-500"  
              routerLink="/{{countryCode}}/{{categorySlug}}/{{stateCitySlug}}/{{cityZoneSlug}}">
              {{this.postName.CityZone}}
            </a>
          </li>
        </ul>

      </section>

      <section *ngIf="postName" class=" pt-0">
        <h1 class="flex space-x-1 text-xs">
          <span *ngIf="postName.PostAdCategory">
            {{this.postName.PostAdCategory}}
          </span>
          <span class=" lowercase" *ngIf="postName.PostAdCategory">
              {{'en' | translate}}
          </span>
          <span *ngIf="postName.Country && !postName.StateCity && !postName.CityZone">
            {{this.postName.Country}}
          </span>

          <span *ngIf="postName.Country && postName.StateCity && !postName.CityZone">
            {{this.postName.StateCity}}
          </span>

          <span *ngIf="postName.Country && postName.StateCity && postName.CityZone">
            {{this.postName.CityZone}}
          </span>
        </h1>
      </section>
      
     <section class="hidden">
      <div class="hidden flex-shrink-0">
        <div class="flex flex-shrink-0 text-xs bg-gradient-to-r space-x-1 from-primary-600 via-purple-800 to-secondary-600  text-white px-2 rounded-full">
          <i class="fas fa-share"></i>
          <span class="font-bold text-xs">Super</span><span> Top</span>
        </div>
       </div>
     </section>

      <section class="hidden">
        <div *ngIf="this.postStories" class="flex stories  space-x-8 w-full ">
          <div  class="flex justify-center space-x-2 md:space-x-5 ">
            <figure *ngFor="let item of this.postStories; let i = index">
              <a *ngIf="item.PostMedia?.length > 0" routerLink="/pu/{{item.slug}}" target="_blank"  class="relative cursor-pointer flex w-28 h-44 md:w-36 md:h-52 justify-center overflow-hidden rounded-lg transform transition-transform duration-300 ease-in-out hover:-translate-y-1">
                <!-- (click)="onViewPost(item)" -->
                <div>
                  <img src="{{prinImages(item.PostMedia)}}" 
                    class="w-28 h-44 md:w-36 md:h-52 rounded-lg mx-auto object-cover " alt="{{item.title}}">
                </div>
                <div class="absolute bottom-0 left-2 mb-2 flex">
                  <p class="flex items-center font-medium text-white shadow-sm text-xs">
                    <i class="fa fa-camera mr-2 text-white"></i>
                    <span>{{item.PostMedia.length}}</span>
                  </p>
                </div>
                <div class="absolute bottom-0 right-5 mb-3 hidden">
                  <p class="flex items-center font-medium text-gray-800">
                    <i class="fa fa-heart mr-2 text-sm text-white"></i>
                  </p>
                </div>
                
                <figcaption class="absolute top-0 right-2 z-10 mt-2 ml-2 inline-flex select-none rounded-sm px-0 text-xs font-semibold text-white truncate-story">
                  {{item.title}}
                </figcaption>
                <!-- 
                  <span class="absolute top-0 right-2 z-10 mt-3 ml-3 inline-flex select-none rounded-sm bg-[#1f93ff] px-2 py-1 text-xs font-semibold text-white"> Residential </span>
                  <span class="absolute top-0 left-0 z-10 mt-3 ml-3 inline-flex select-none rounded-lg bg-transparent px-3 py-2 text-lg font-medium text-white"> <i class="fa fa-star"></i> </span>
                -->
              </a>                
            </figure>
          </div>
        </div>
      </section> 
    
      <section>
        <p class="uppercase text-xs px-0 mt-5 mb-6">
          {{date | date}}
        </p>
      </section>

      <section class="space-y-5 px-0 mt-2">
      <!-- -->
      <div class="grid grid-cols-1 md:grid-cols-1 gap-4">

        <figure *ngFor="let item of this.posts" >
          <div  #theLastList class="flex border border-zinc-200 dark:border-zinc-700  text-slate-800   rounded-lg {{item.plan == 1? 'border-blue-600' : item.plan == 2 ? 'border-purple-500' : 'border-secondary-100'}} break-inside bg-zinc-50 dark:bg-zinc-800 dark:text-zinc-200 bg-clip-border  shadow-lg relative hover:shadow-xl transition duration-500">
              <div *ngIf="item.PostMedia?.length > 0" class="flex flex-col items-center "> 
                
                <carousel *ngIf="item.plan == 2" class="  w-28 h-52 md:w-48 md:h-60 rounded-t-lg flex justify-center">
                  <ng-container *ngFor="let image of postMedia(item.PostMedia); let i = index">
                    <ng-container *carouselItem>
                      <img class="w-28 h-52 md:w-48 md:h-60 rounded-l-lg md:rounded-tr-none md:rounded-l-lg mx-auto object-cover" src="{{image.url}}" alt="{{item.title}}"/>
                    </ng-container>
                  </ng-container>
                </carousel>  
                <div *ngIf="item.plan == 1 || item.plan == 0" class=" w-28 h-52 md:w-48 md:h-60">
                  <img src="{{prinImages(item.PostMedia)}}" 
                    class="w-28 h-52 md:w-48 md:h-60 rounded-l-lg md:rounded-tr-none md:rounded-l-lg mx-auto object-cover " alt="{{item.title}}">
                </div>

                <div  *ngIf="item.plan == 1 || item.plan ==2" class="absolute top-0 left-2 mt-2 flex">
                  <p class="flex items-center font-medium text-white shadow-sm text-xs">
                    <i class="fa fa-camera mr-2 "></i>
                    <span>{{item.PostMedia.length}}</span>
                  </p>
                </div>
              </div>
            
              <div class="p-2 sm:p-3 md:p-6 text-left space-y-4 w-full flex-shrink overflow-x-auto">
                <blockquote>
                  
                  <a routerLink="/pu/{{item.slug}}"
                    class="overflow-x-auto truncate-title font-medium text-base sm:text-lg text-primary-600 cursor-pointer">
                    {{item.title}}
                  </a>

                  <div class="text-xs text-slate-700 italic lowercase hidden">
                    <span>{{item.planAt | dateAgo}}</span>
                  </div>

                  <!-- 
                    (click)="onViewPost(item)"
                      <a routerLink="/pu/{{item.slug}}" ></a>
                    -->
                </blockquote>
                <figcaption>
                  <p>
                    <a routerLink="/pu/{{item.slug}}"
                      class="text-sm tracking-tight font-normal leading-6 truncate-description overflow-x-auto">
                        {{item.description}}
                    </a>
                    <cite class="flex text-xs space-x-1 truncate-zone  my-2">
                      <span class="font-semibold ">{{item.age}} años</span>
                      <span>|</span>
                      <span>{{item.StateCity!.name}}</span>
                    </cite>
                  </p>
                  
                    <div *ngIf="item.plan == 2 || item.plan == 1 || item.plan == 0" class=" mt-4 flex items-center justify-end mx-0 text-lg space-x-0 sm:space-x-0">
                      <div class="hidden">
                        <button type="button" (click)="toggleBookmark(item)" class="flex space-x-2 px-2 rounded-md items-center hover:bg-primary-100 hover:text-primary-600 text-secondary-500">
                          <span *ngIf="item.published"><i class="fas fa-eye"></i></span>
                          <span *ngIf="!item.published"><i class="fas fa-eye-slash"></i></span>
                          <span>{{item.published == true? 'Visible': 'No visible'}}</span>
                        </button>
                      </div>

                      <div class="flex flex-wrap space-x-2 items-center">
                        <a
                          *ngIf="item.telegram"
                          (click)="onUpdateClick(item._id, 'telegram')"
                          class=" {{!item.phone ? 'flex' : 'hidden'}} flex justify-between items-center space-x-1 text-xs font-semibold uppercase hover:bg-primary-100 hover:text-primary-600 text-secondary-500 rounded-md p-2"  
                          href="https://t.me/{{item.telegram}}" target="_blank">
                          <i class="fab fa-telegram"></i>
                          <span>Telegram</span>
                        </a>
                        <a
                          *ngIf="item.whatsapp && item.phone"
                          (click)="onUpdateClick(item._id, 'whatsapp')"
                          class=" flex justify-between items-center space-x-1 text-xs font-semibold uppercase hover:bg-primary-100 hover:text-primary-600 text-secondary-500 rounded-md p-2"  
                          href="https://wa.me/{{item.phonePrefix}}{{item.phone}}/?text={{textMessage(item)}}" target="_blank">
                          <i class="fab fa-whatsapp"></i>
                          <span>WhatsApp</span>
                        </a>
                        <a
                          *ngIf="item.phone"
                          (click)="onUpdateClick(item._id, 'phone')"
                          class=" flex justify-between items-center space-x-1 text-xs font-semibold uppercase hover:bg-primary-100 hover:text-primary-600 text-secondary-500 rounded-md p-2"   
                          href="tel:{{item.phonePrefix}} {{item.phone}}">
                          <i class="fas fa-phone-alt"></i>
                          <span>Telefono</span>
                        </a>
                      </div>
                      
                    </div>

                </figcaption>
              </div>

              <div class="">
                <span *ngIf="item.plan == 1 || item.plan ==2" class="absolute py-1 text-sm text-white -top-1 right-4 rounded-full transform translate-x-2 -translate-y-3">
                  <div *ngIf="item.plan == 2" class="text-xs bg-gradient-to-r from-primary-600 via-purple-800 to-secondary-600  text-white px-2 rounded-full">
                    <i class="fas fa-share"></i>
                    <span class="font-bold text-xs">Super</span><span> Top</span>
                  </div>
                  <div *ngIf="item.plan == 1" class="text-xs bg-secondary-600  text-white px-2 rounded-full">
                    <i class="fas fa-share"></i>
                    <span class="font-bold">Top</span>
                  </div>
                </span>
              </div>
          </div>
        
        </figure>
      </div> 
      </section>
     
    </div>

    <ng-template #loadingTemplate>
      <div class="my-10">
        <div *ngIf="loading; else noData">
          <section class="space-y-5">
            <figure *ngFor="let item of this.postLoading">
              <div class="flex brder border-zinc-200 dark:border-zinc-700  text-slate-800   rounded-lg  break-inside bg-zinc-50 dark:bg-zinc-800 dark:text-zinc-200 bg-clip-border  shadow-lg relative hover:shadow-xl transition duration-500">
                  <div class="flex flex-col items-center "> 
                    
                    <div  class=" w-28 h-52 md:w-48 md:h-60 rounded-l-lg md:rounded-tr-none md:rounded-l-lg mx-auto object-cove animate-pulse bg-zinc-200 dark:bg-zinc-800">
                    </div>
                  </div>
                
                  <div class="p-2 sm:p-3 md:p-6 text-left space-y-4 w-full flex-shrink overflow-x-auto">
                    <blockquote>
                      
                      <div class="overflow-x-auto truncate-title font-medium text-base sm:text-lg text-primary-600 cursor-pointer animate-pulse  h-5 bg-zinc-200 dark:bg-zinc-700 rounded w-full">
                      </div>
            
                    </blockquote>
                    <figcaption>
                      <p>
                        <span
                          class="text-sm tracking-tight font-normal leading-6 truncate-description overflow-x-auto animate-pulse h-2 bg-zinc-200 dark:bg-zinc-700 rounded w-full">
                           
                        </span>
                        <span
                          class="mt-2 text-sm tracking-tight font-normal leading-6 truncate-description overflow-x-auto animate-pulse h-2 bg-zinc-200 dark:bg-zinc-700 rounded w-full">
                           
                        </span>
                        <cite class="flex text-xs space-x-1 truncate-zone  my-2 animate-pulse h-2 bg-zinc-200 dark:bg-zinc-700 rounded w-16">
                        </cite>
                      </p>
                      
                        <div class=" mt-4 flex items-center justify-end mx-0 text-lg space-x-0 sm:space-x-0">
            
                          <div class="flex flex-wrap space-x-2 items-center">
                            <div
                              class="animate-pulse h-6 bg-zinc-200 dark:bg-zinc-700 rounded w-28"  
                              >
                            </div>
                            <div
                            class="animate-pulse h-6 bg-zinc-200 dark:bg-zinc-700 rounded w-28"  
                            >
                          </div>
            
                          </div>
                          
                        </div>
            
                    </figcaption>
                  </div>
            
              </div>
            
            </figure>
          </section>
          
        </div>
        <ng-template #noData>   
          <div class=" text-center font-light text-3xl">
            No hay datos
          </div>
        </ng-template>
      </div>
  </ng-template>

</main>

<app-footer-one [width] = "width"></app-footer-one>

</div>