<div class="max-w-6xl mx-auto">
    <!-- <app-menu-two *ngIf="countrySlug" [countrySlug] = "countrySlug" [fixed]=false [width]="width"></app-menu-two> -->
    <div *ngIf="this.post; else loadingTemplate" class="mx-auto pt-5 pb-5 px-2 md:px-4">
        <div class="mt-5 mb-5">
            <div class="grid grid-cols-5 gap-4">
                <div class="col-span-5 sm:col-span-4 space-y-2">
                    <div class="flex items-center space-x-5 ">
                        <div class="text-sm  italic">
                            <span *ngIf="post.publishedAt; else createdAt">
                                {{post.planAt | date}}
                            </span>
                            <ng-template #createdAt>
                                {{post.createdAt | date}}
                            </ng-template>
                        </div>
                        <div>
                            <div *ngIf="post.plan == 2"
                                class="text-xs bg-gradient-to-r from-primary-600 via-purple-800 to-secondary-600  text-white px-2 rounded-full">
                                <i class="fas fa-share"></i>
                                <span class="font-bold">Gold</span>
                            </div>
                            <div *ngIf="post.plan == 1" class="text-xs bg-blue-800  text-white px-2 rounded-full">
                                <i class="fas fa-share"></i>
                                <span class="font-bold">Top</span>
                            </div>
                        </div>
                        <div class="flex items-center space-x-3">

                            <button
                                class="w-8 h-8 text-center flex justify-center items-center  p-0 rounded-full border border-zinc-300 dark:border-zinc-700 text-primary-600 dark:text-primary-600"
                                *ngIf="!bookmark" (click)="addBookmark()">
                                <span class=" material-icons-outlined notranslate text-xl">bookmark_border</span>
                            </button>

                            <button
                                class="w-8 h-8 text-center flex justify-center items-center p-0 rounded-full border border-primary-100 dark:border-zinc-700 text-primary-600 dark:text-primary-600"
                                *ngIf="bookmark" (click)="deletePostBookmark()">
                                <span class=" material-icons-outlined notranslate text-xl">bookmark</span>
                            </button>

                            <button (click)="shared()"
                                class="w-8 h-8 text-center flex justify-center items-center p-0 rounded-full border border-primary-100 dark:border-zinc-700 text-primary-600 dark:text-primary-600">
                                <i class="fa-solid fa-share"></i>
                            </button>

                            <button (click)="onLikes()"
                                class="inline-flex items-center text-zinc-600 dark:text-zinc-300" href="#">
                                <span class="mr-2 text-primary-600 dark:text-primary-600 text-lg">
                                    <i class="fa-solid fa-heart"></i>

                                </span>
                                <span class="text-xs font-bold">{{post.likes}}</span>
                            </button>

                        </div>
                    </div>

                    <div class="space-x-2 text-xs">
                        <span>ID:</span>
                        <span class="text-xs">{{post.code}}</span>
                    </div>
                    <h1 class="text-2xl md:text-3xl font-light pt-4 ">
                        {{post.title}}
                    </h1>
                    <p class="pt-6 font-light" [innerHtml]="innerText(post.description)"></p>

                </div>
                <div class="hidden sm:block">
                    <div class="flex flex-col space-y-5 mt-16">
                        <a *ngIf="post.phone" (click)="onUpdateClick(post._id!, 'phone')"
                            class="border flex justify-center items-center space-x-2 text-xs uppercase border-primary-600 bg-primary-600 hover:bg-primary-600 text-secondary-50 rounded-md p-3"
                            href="tel:{{post.phonePrefix}} {{post.phone}}">
                            <i class="fas fa-phone-alt"></i>
                            <span>{{'phone' | translate}}</span>
                        </a>
                        <a *ngIf="post.whatsapp && post.phone" (click)="onUpdateClick(post._id!, 'whatsapp')"
                            class="border flex justify-center items-center space-x-2 text-xs uppercase border-other-whatsapp1 bg-other-whatsapp1 hover:bg-other-whatsapp2 text-secondary-50 rounded-md p-3"
                            href="https://wa.me/{{post.phonePrefix}}{{post.phone}}/?text={{textMessage()}}"
                            target="_blank">
                            <i class="fab fa-whatsapp"></i>
                            <span>WhatsApp</span>
                        </a>
                        <a *ngIf="post.telegram" (click)="onUpdateClick(post._id!, 'telegram')"
                            class="border flex justify-center items-center space-x-2 text-xs uppercase border-sky-600 bg-sky-600 hover:bg-sky-700 text-secondary-50 rounded-md p-3"
                            href="https://t.me/{{post.telegram}}" target="_blank">
                            <i class="fab fa-telegram"></i>
                            <span>Telegram</span>
                        </a>
                    </div>
                </div>
            </div>

            <div *ngIf="post.PostMedia!.length > 0">
                <div *ngIf="post.PostMedia![0].type == 'video'" class="mt-10 relative">

                    <div class="relative">
                        <div class=" h-96  md:h-112 w-full"
                            style=" background-image: url('{{post.PostMedia![0].urlSnapshot}}'); background-repeat: no-repeat; background-position: center center;  background-size: cover;">
                            <div class="lightbox  backdrop-blur-xl bg-zinc-200/10  ">
                                <div class="flex justify-center">
                                    <video class=" bg-black h-96 sm:h-112 md:h-112 w-fit flex justify-center" preload
                                        loop controls controlsList="nodownload" disablePictureInPicture
                                        controlsList="nodownload noplaybackrate " oncontextmenu="return false;"
                                        poster="{{post.PostMedia![0].urlSnapshot}}">
                                        <source src="{{post.PostMedia![0].url}}" type="video/mp4">
                                    </video>
                                </div>
                            </div>
                        </div>

                        <div *ngIf="post!.typeView != 'FREE'">
                            <div *ngIf="suscription; else private">
                                <div *ngIf="suscription.expired"
                                    class="absolute inset-0 text-white  backdrop-blur-xl bg-zinc-100/30 dark:bg-zinc-800/30 m-4 flex flex-col justify-center items-center rounded-lg space-y-2">
                                    <div *ngIf="post.PostMedia![0].type == 'video'"
                                        class="flex justify-center items-center text-3xl">
                                        <i class="fa-solid fa-play"></i>
                                    </div>
                                    <div class="flex justify-center items-center space-x-1">
                                        <i class="fa-solid fa-lock"></i>
                                        <span>{{'suscribe' | translate}}</span>
                                    </div>
                                </div>
                            </div>
                            <ng-template #private>
                                <div
                                    class="absolute inset-0 text-white  backdrop-blur-xl bg-zinc-100/30 dark:bg-zinc-800/30 m-4 flex flex-col justify-center items-center rounded-lg space-y-2">
                                    <div *ngIf="post.PostMedia![0].type == 'video'"
                                        class="flex justify-center items-center text-3xl">
                                        <i class="fa-solid fa-play"></i>
                                    </div>
                                    <div class="flex justify-center items-center space-x-1">
                                        <i class="fa-solid fa-lock"></i>
                                        <span>{{'suscribe' | translate}}</span>
                                    </div>
                                </div>
                            </ng-template>
                        </div>
                    </div>

                </div>

                <div *ngIf="post.PostMedia![0].type == 'image'" class="gallery-lightbox-container mt-10 z-50">
                    <div class="gallery">
                        <div *ngFor="let item of post.PostMedia; let i = index" class="gallery-img">

                            <div class="relative">
                                <img *ngIf="item.type == 'image'" (click)="onPreviewImage(i)" src="{{item.url}}"
                                    alt="{{post.title}}">
                                <div *ngIf="post!.typeView != 'FREE'">
                                    <div *ngIf="suscription; else private">
                                        <div *ngIf="suscription.expired"
                                            class="absolute inset-0  backdrop-blur-xl bg-zinc-100/40 dark:bg-zinc-800/40 flex justify-center items-center m-2 rounded-lg space-x-1">
                                            <i class="fa-solid fa-lock"></i>
                                            <span>{{'suscribe' | translate}}</span>
                                        </div>
                                    </div>
                                    <ng-template #private>
                                        <div
                                            class="absolute inset-0  backdrop-blur-xl bg-zinc-100/40 dark:bg-zinc-800/40 flex justify-center items-center m-2 rounded-lg space-x-1">
                                            <i class="fa-solid fa-lock"></i>
                                            <span>{{'suscribe' | translate}}</span>
                                        </div>
                                    </ng-template>
                                </div>

                            </div>

                        </div>
                    </div>
                    <div *ngIf="showMask" class="lightbox" @animation2>
                        <div *ngIf="showCount" class="count space-x-1 text-sm">
                            <span>{{currentIndex + 1}}</span>
                            <span>/</span>
                            <span>{{totalImageCount}}</span>
                        </div>
                        <button *ngIf="previewImage" class="close-btn" (click)="onClosePreview()">
                            <i class="fas fa-times"></i>
                        </button>

                        <button type="button" *ngIf="controls" (click)="onClosePreview()" class="close-btn">
                            <span
                                class="text-zinc-500 dark:text-zinc-50 inline-flex justify-center items-center w-5 h-5 rounded-full sm:w-7 sm:h-7 bg-zinc-200 dark:bg-zinc-200/30  dark:group-hover:bg-zinc-200/60 group-focus:ring-2 group-focus:ring-white dark:group-focus:ring-zinc-200/70 group-focus:outline-none">
                                <i class="fas fa-times"></i>
                            </span>
                        </button>

                        <button type="button" *ngIf="controls" (click)="next()" class="btn-lightbox-carousel btn-prev">
                            <span
                                class="inline-flex justify-center items-center w-5 h-5 rounded-full sm:w-7 sm:h-7 bg-zinc-200 dark:bg-zinc-200/30  dark:group-hover:bg-zinc-200/60 group-focus:ring-2 group-focus:ring-white dark:group-focus:ring-zinc-200/70 group-focus:outline-none">
                                <svg class="w-4 h-4 text-zinc-500  sm:w-4 sm:h-4 dark:text-zinc-50" fill="none"
                                    stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                        d="M15 19l-7-7 7-7"></path>
                                </svg>
                            </span>
                        </button>

                        <button type="button" *ngIf="controls" (click)="prev()" class="btn-lightbox-carousel btn-next">
                            <span
                                class="inline-flex justify-center items-center w-5 h-5 rounded-full sm:w-7 sm:h-7 bg-zinc-200 dark:bg-zinc-200/30  dark:group-hover:bg-zinc-200/60 group-focus:ring-2 group-focus:ring-white dark:group-focus:ring-zinc-200/70 group-focus:outline-none">
                                <svg class="w-4 h-4 text-zinc-500 sm:w-4 sm:h-4 dark:text-zinc-50" fill="none"
                                    stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                        d="M9 5l7 7-7 7">
                                    </path>
                                </svg>
                            </span>
                        </button>
                        <div *ngIf="previewImage" [@animation]="{value: 'visible'}"
                            (@animation.done)=onAnimationEnd($event) class="lightbox-img">
                            <img src="{{currentLinghtboxImage.url}}" #lightboxContainer alt="">
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <div *ngIf="post"
            class=" w-full fixed bottom-0 z-50 block sm:hidden bg-background-light dark:bg-background-dark">
            <!-- style="background-color: #222020;" -->

            <div *ngIf="!post.whatsapp && !post.telegram && post.phone"
                class="flex flex-row justify-between items-center space-x-2 mr-4 mb-1">

                <div class="w-full">
                    <a (click)="onUpdateClick(post._id!, 'phone')"
                        class="border flex justify-center items-center space-x-2 text-sm uppercase border-primary-600 bg-primary-600 hover:bg-primary-700 text-secondary-50 rounded-md p-3"
                        href="tel:{{post.phonePrefix}} {{post.phone}}">
                        <i class="fas fa-phone-alt"></i>
                        <span>{{'phone' | translate}}</span>
                    </a>
                </div>

            </div>

            <div *ngIf="post.phone && post.whatsapp && !post.telegram"
                class="flex flex-row justify-between items-center space-x-2 mr-4 mb-1">
                <div class="w-3/6">
                    <a (click)="onUpdateClick(post._id!, 'whatsapp')"
                        class="border flex justify-center items-center space-x-2 text-sm uppercase border-emerald-500 bg-emerald-500 hover:bg-emerald-700 text-secondary-50 rounded-md p-3"
                        href="https://wa.me/{{post.phonePrefix}}{{post.phone}}/?text={{textMessage()}}" target="_blank">
                        <i class="fab fa-whatsapp"></i>
                        <span>WhatsApp</span>
                    </a>
                </div>

                <div class="w-3/6">
                    <a (click)="onUpdateClick(post._id!, 'phone')"
                        class="border flex justify-center items-center space-x-2 text-sm uppercase border-primary-600 bg-primary-600 hover:bg-primary-700 text-secondary-50 rounded-md p-3"
                        href="tel:{{post.phonePrefix}} {{post.phone}}">
                        <i class="fas fa-phone-alt"></i>
                        <span>{{'phone' | translate}}</span>
                    </a>
                </div>

            </div>

            <div *ngIf="post.phone && post.whatsapp && post.telegram"
                class="flex flex-row justify-between items-center space-x-2 mr-4 mb-1">
                <div class="w-2/6">
                    <a (click)="onUpdateClick(post._id!, 'whatsapp')"
                        class="border flex justify-center items-center space-x-1 text-sm uppercase border-other-whatsapp1 bg-other-whatsapp1 hover:bg-other-whatsapp2 text-secondary-50 rounded-md p-2"
                        href="https://wa.me/{{post.phonePrefix}}{{post.phone}}/?text={{textMessage()}}" target="_blank">
                        <i class="fab fa-whatsapp"></i>
                        <span>WhatsApp</span>
                    </a>
                </div>

                <div class="w-2/6">
                    <a (click)="onUpdateClick(post._id!, 'phone')"
                        class="border flex justify-center items-center space-x-1 text-sm uppercase border-primary-600 bg-primary-600 hover:bg-primary-700 text-secondary-50 rounded-md p-2"
                        href="tel:{{post.phonePrefix}} {{post.phone}}">
                        <i class="fas fa-phone-alt"></i>
                        <span>Telefono</span>
                    </a>
                </div>

                <div class="w-2/6">
                    <a (click)="onUpdateClick(post._id!, 'telegram')"
                        class="border flex  justify-center items-center space-x-1 text-sm uppercase border-sky-600 bg-sky-600 hover:bg-sky-700 text-secondary-50 rounded-md p-2"
                        href="https://t.me/{{post.telegram}}" target="_blank">
                        <i class="fab fa-telegram"></i>
                        <span>Telegram</span>
                    </a>
                </div>
            </div>

            <div *ngIf="!post.phone && post.telegram"
                class="flex flex-row justify-between items-center space-x-2 mr-4 mb-1">

                <div class="w-full">
                    <a (click)="onUpdateClick(post._id!, 'telegram')"
                        class="border flex justify-center items-center space-x-2 text-sm uppercase border-sky-600 bg-sky-600 hover:bg-sky-700 text-secondary-50 rounded-md p-3"
                        href="https://t.me/{{post.telegram}}">
                        <i class="fas fa-phone-alt"></i>
                        <span>Telegram</span>
                    </a>
                </div>

            </div>

            <div *ngIf="post.phone && !post.whatsapp && post.telegram"
                class="flex flex-row justify-between items-center space-x-2 mr-4 mb-1">
                <div class="w-3/6">
                    <a (click)="onUpdateClick(post._id!, 'telegram')"
                        class="border flex justify-center items-center space-x-2 text-sm uppercase border-sky-600 bg-sky-600 hover:bg-sky-700 text-secondary-50 rounded-md p-3"
                        href="https://t.me/{{post.telegram}}">
                        <i class="fas fa-phone-alt"></i>
                        <span>Telegram</span>
                    </a>
                </div>

                <div class="w-3/6">
                    <a (click)="onUpdateClick(post._id!, 'phone')"
                        class="border flex justify-center items-center space-x-2 text-sm uppercase border-primary-600 bg-primary-600 hover:bg-primary-700 text-secondary-50 rounded-md p-3"
                        href="tel:{{post.phonePrefix}} {{post.phone}}">
                        <i class="fas fa-phone-alt"></i>
                        <span>Telefono</span>
                    </a>
                </div>

            </div>

        </div>

        <!-- comment -->
        <app-comment [post]="post"></app-comment>

        <!-- shared -->

        <div class="divide-y divide-zinc-200 dark:divide-zinc-800  mx-10 hidden">
            <div class="text-center text-lg font-normal py-6">
                {{"share" | translate}}
            </div>
            <div class="flex justify-center space-x-5 py-6 text-2xl text-primary-600">
                <a href="https://twitter.com/intent/tweet?text={{post.title}} https://onlypu.com/pu/{{post.slug}}"
                    target="_blank">
                    <i class="fab fa-twitter"></i>
                </a>
                <a href="https://www.facebook.com/sharer/sharer.php?u=https://onlypu.com/pu/{{post.slug}}&src=sdkpreparse"
                    target="_blank">
                    <i class="fab fa-facebook-square"></i>
                </a>
                <a href="https://wa.me/?text=https://onlypu.com/pu/{{post.slug}}" target="_blank">
                    <i class="fab fa-whatsapp"></i>
                </a>
                <a href="https://t.me/share/url?url=https://onlypu.com/pu/{{post.slug}}&text={{post.title}}"
                    target="_blank">
                    <i class="fab fa-telegram"></i>
                </a>
                <a href="mailto:?subject={{post.title}}  :  onlypu.com&amp;body=https://onlypu.com/pu/{{post.slug}}">
                    <i class="fas fa-envelope-open"></i>
                </a>
            </div>
        </div>
        <!-- suggestions-->
    </div>

    <ng-template #loadingTemplate>
        <div class="my-56">
            <div *ngIf="loading; else noData" class="flex flex-col items-center justify-center">
                ddd
            </div>
            <ng-template #noData>
                <div class=" text-center font-light text-3xl">
                    {{'there_is_no_data' | translate}}
                </div>
            </ng-template>
        </div>
    </ng-template>

</div>