<!-- <div class="flex flex-wrap px-2 sm:px-0">
  <h1 class="text-center  font-light text-3xl mt-4 mb-6">
      Tus anuncios {{bodyText}}
  </h1>
  <div  *ngIf="isBrowser" class="w-full">
    <ul class="flex mb-0 list-none flex-wrap pt-3 pb-0 flex-row">
      <li class="-mb-px mr-2 last:mr-0 flex-auto text-center">
        <a 
            class="text-xs font-bold uppercase px-5 py-3 shadow-lg block leading-normal cursor-pointer space-x-1" 
            (click)="toggleTabs(1)" 
            [ngClass]="{'bg-slate-50 ': openTab !== 1, '  bg-other-background2 border-b-2 border-b-primary-600': openTab === 1}">
            <span>Activos</span>
            <span *ngIf="this.adCount">({{this.adCount?.active}})</span>
        </a>
      </li>
      <li class="-mb-px mr-2 last:mr-0 flex-auto text-center">
        <a 
            class="text-xs font-bold uppercase px-5 py-3 shadow-lg rounded block leading-normal cursor-pointer space-x-1" 
            (click)="toggleTabs(2)" 
            [ngClass]="{'bg-slate-50': openTab !== 2, '  bg-other-background2  border-b-2 border-b-primary-600': openTab === 2}">
            <span>Suspendidos</span>
            <span *ngIf="this.adCount">({{this.adCount?.inactive}})</span>
        </a>
      </li>
     
    </ul>
    <div *ngIf="this.posts.length > 0; else loadingTemplate" class="space-y-5 mt-6">
        <figure *ngFor="let item of this.posts" >
            <div  #theLastList class="border border-slate-300 rounded-lg bg-other-background2 shadow-lg relative hover:shadow-xl transition duration-500">
                
              <div class="sm:flex bg-other-background1 rounded-t-lg">
                <div *ngIf="item.PostMedia.length > 0" class="flex flex-col items-center "> 
                  <div class="h-52 w-full md:w-48 md:h-52">
                    <img src="{{prinImages(item.PostMedia)}}" 
                      class="h-52 w-full md:w-48 md:h-full rounded-t-lg md:rounded-tr-none md:rounded-l-lg mx-auto object-cover " alt="">
                  </div>
                </div>
              
                <div class="p-2 sm:p-3 md:p-4 text-left space-y-4 w-full flex-shrink">
                  <blockquote>
                    <a *ngIf="item.published; else noLink" target="_blank" routerLink="/pu/{{item.slug}}" class="truncate-title font-normal text-lg text-primary-600">
                        {{item.title}}
                    </a>
                    <ng-template #noLink>
                      <div class="truncate-title font-semibold text-lg text-primary-600">
                        {{item.title}}
                      </div>
                    </ng-template>
                    <div class="text-xs space-x-1 truncate  my-1">
                      <span class="font-bold ">{{item.age}} años</span>
                      <span>|</span>
                      <span class="font-bold">{{item.PostAdCategory!.name}}</span>
                      <span>|</span>
                      <span>{{item.StateCity!.name}}</span>
                    </div>
                  </blockquote> 
                  <figcaption>
                      
                      <div class="flex flex-wrap items-center space-x-2  text-xs">
                        <div class="flex space-x-2 items-center">
                          <span>Creado</span>
                          <span>{{item.createdAt | date}}</span>
                        </div>
                        <div *ngIf="item.expirationDate" class="flex items-center space-x-2">
                          <div>
                            |
                          </div>
                          <div  class="flex space-x-2 items-center">
                            <span>Promoción expira</span>
                            <span>{{item.expirationDate | date}}</span>
                          </div>
                        </div>
                      </div>
                      
                      <div class="flex space-x-3 text-slate-600 mt-2">
                        <div class=" space-x-1">
                          <i class="fas fa-camera"></i>
                          <span>{{item.PostMedia?.length}}</span>
                        </div>
                        <div class="flex space-x-2 items-center">
                          <span><i class="fas fa-heart"></i></span>
                          <span class="text-xs">{{item.likes}}</span>
                        </div>
                        <div class=" space-x-1">
                          <i class="fas fa-camera"></i>
                          <span>{{item.totalClick}}</span>
                        </div>
                      </div>
                  </figcaption>
                </div>
              </div>
        
                <div class="flex justify-center p-4">
                  
                  <p class="flex flex-wrap justify-between items-center space-x-10 uppercase text-sm ">

                    <button
                        
                        (click)="onEdit(item._id!)" 
                        class="py-2  px-3 space-y-1 flex flex-col items-center text-primary-600 rounded-lg font-semibold cursor-pointer uppercase">
                        <span><i class="far fa-edit"></i></span>
                        <span>Editar</span>
                    </button>
                    
                    <button
                        (click)="onPhotos(item._id!)" 
                        class="py-2  px-3 space-y-1 flex flex-col items-center text-primary-600 rounded-lg font-semibold cursor-pointer uppercase">
                        <span><i class="far fa-images"></i></span>
                        <span>Fotos</span>
                    </button>

                    <button
                        
                        (click)="openModalDelete(item._id)"
                        class="py-2  px-3 space-y-1 flex flex-col items-center text-primary-600 rounded-lg font-semibold cursor-pointer uppercase">
                        <span><i class="fas fa-trash-alt"></i></span>
                        <span>Eliminar</span>
                    </button>

                    <button
                      *ngIf="item.status == 'ACTIVE'"
                      (click)="onSuspended(item)"
                      class="py-2 px-3 space-y-1 flex flex-col items-center text-primary-600 rounded-lg font-semibold cursor-pointer uppercase">
                      <span><i class="fas fa-pause"></i></span>
                      <span>Suspender</span>
                    </button>

                    <button
                      *ngIf="item.status == 'SUSPENDED'"
                      (click)="onActive(item)"
                      class="py-2 px-3 space-y-1 flex flex-col items-center text-primary-600 rounded-lg font-semibold cursor-pointer uppercase">
                      <i class="fas fa-upload"></i>
                      <span>Publicar</span>
                    </button>

                    <button 
                      *ngIf="item.status == 'ACTIVE'" 
                      type="button" 
                      (click)="togglePublished(item)" 
                      class="hidden space-x-2 py-2 px-3 rounded-md items-center bg-secondary-500 text-white uppercase">
                      <span *ngIf="item.published"><i class="fas fa-eye"></i></span>
                      <span *ngIf="!item.published"><i class="fas fa-eye-slash"></i></span>
                      <span>{{item.published == true? 'Visible': 'No visible'}}</span>
                    </button>

                    <button
                       
                        (click)="onPromote(item._id!)" 
                        class="py-3  px-4 space-x-1 flex  items-center border text-white border-primary-600 shadow-primary-600 bg-primary-600 rounded-lg uppercase font-light text-sm cursor-pointer">
                        <span>Promocionar</span>
                    </button>

                  </p>
                </div>

                <div>
                  <span  class="absolute py-1 text-sm text-white -top-1 right-4 rounded-full transform translate-x-2 -translate-y-3">
                    <div *ngIf="item.status == 'ACTIVE'" class="text-xs bg-green-500  text-white px-2 rounded-full">
                      <span class="font-bold">Activo</span>
                    </div>
                    <div *ngIf="item.status == 'SUSPENDED'" class="text-xs bg-yellow-500  text-white px-2 rounded-full">
                      <span class="font-bold">Suspendido</span>
                    </div>
                  </span>
                </div>
            </div>
            
        </figure>
    </div>
    <ng-template #loadingTemplate>
        <div class="my-36">
          <div *ngIf="loading; else noData" class="flex flex-col items-center justify-center">
            <app-loading></app-loading>
          </div>
          <ng-template #noData>
            <div class=" text-center font-light text-3xl">
              No hay datos
            </div>
          </ng-template>
        </div>
    </ng-template>

  </div>
</div>

<jw-modal id="delete">
  
  <div *ngIf="!loading; else change" class="bg-white p-5 rounded-md shadow-lg border border-secondary-600 ">
    <h1 class="text-center my-10 text-3xl flex items-center space-x-2 font-light">
      <span><i class="fas fa-exclamation-circle text-yellow-500 text-2xl"></i></span>
      <span>Quieres eliminar?</span>
    </h1>
    <div class="flex justify-between items-center">
      <button
        class="bg-secondary-500 border border-secondary-600 py-1 px-4 rounded-md text-white" 
        (click)="closeModal('delete')">No</button>
      <button 
        class="bg-primary-600 py-1 px-4 rounded-md text-white"
        (click)="onDelete();">Si</button>
    </div>

  </div>
  <ng-template #change>
    <div  class="flex items-center justify-center space-x-1">
      <span class="flex justify-center items-center h-10 w-10">
        <span class="animate-ping absolute inline-flex h-16 w-16 rounded-full bg-primary-100 opacity-75"></span>
        <span class="relative inline-flex rounded-full h-4 w-4 bg-primary-600"></span>
      </span>
      <div>
        Eliminando ...
      </div>
    </div>
  </ng-template>
</jw-modal> -->