<div class="my-10 space-x-2 text-lg md:text-2xl mx-2">
    <span>
        <i class="fa-solid fa-gear"></i>
    </span>
    <span>{{'accountSettings' | translate}}</span>
</div>

<!-- component -->
<div class="my-0 md:my-5 border-b border-zinc-200 dark:border-zinc-800">
    <nav class="flex flex-row justify-start sm:flex-row text-zinc-700 dark:text-zinc-400">
        <a  [routerLink]="['/panel/setting/account']" 
            routerLinkActive="hover:text-primary-600 border-primary-600 text-primary-600 border-b-2" 
            [routerLinkActiveOptions]="{exact: true}"
            class="py-4 px-2 md:px-6 block  focus:outline-none font-medium space-x-2 truncate">
            <span>{{'account' | translate}}</span>
        </a>
        <a routerLink="/panel/setting/suscription" 
            routerLinkActive="hover:text-primary-600 border-primary-600 text-primary-600 border-b-2" 
            [routerLinkActiveOptions]="{exact: true}"
            class="py-4 px-2 md:px-6block  focus:outline-none font-medium space-x-2 truncate">
            <span>{{'suscription' | translate}}</span>
        </a>
        <a routerLink="/panel/setting/payment" 
            routerLinkActive="hover:text-primary-600 border-primary-600 text-primary-600 border-b-2" 
            [routerLinkActiveOptions]="{exact: true}"
            class="py-4 px-2 md:px-6 block  focus:outline-none font-medium space-x-2 truncate">
            <span>{{'paymentMethods' | translate}}</span>
        </a>
    </nav>
</div>

<div class="my-10">
    <router-outlet></router-outlet>
</div>
