<div *ngIf="membership.length > 0">
    <div class="my-4">
        <h2 class=" uppercase">Subscription bundles</h2>
    </div>
    <div>  
        <ul class="mt-2 divide-y divide-zinc-200 dark:divide-zinc-700 text-zinc-700 dark:text-zinc-400 space-y-5">    
            <li *ngIf="dataThree">
                <button  
                (click)="onSubmit(dataThree._id!)"
                    class="text-sm flex justify-between py-2 px-5 shadow-sm bg-primary-600 hover:bg-primary-700 border-primary-700 text-white rounded-full w-full">
                    <div class="">
                        {{dataThree!.quantyTime}} <span class="uppercase">Months</span> 
                        ({{dataThree.discount}}% <span class="lowercase">Off</span>)
                    </div>
                    <div class=" space-x-1">
                        <span class=" material-icons-outlined notranslate">attach_money</span>
                        <span class="lowercase">Total</span>
                    </div>
                </button>
            </li>
            <li *ngIf="dataSix">
                <button
                (click)="onSubmit(dataSix._id!)"
                class="text-sm flex justify-between py-2 px-5 shadow-sm bg-primary-600 hover:bg-primary-700 border-primary-700 text-white rounded-full w-full">
                    <div class="">
                        {{dataSix!.quantyTime}} <span class="uppercase">Months</span> 
                        ({{dataSix.discount}}% <span class="lowercase">Off</span>)
                    </div>
                    <div class=" space-x-1">
                        <span class=" material-icons-outlined notranslate">attach_money</span>
                        <span class="lowercase">Total</span>
                    </div>
                </button>
            </li>
    
            <li *ngIf="dataTwelve">
                <button
                (click)="onSubmit(dataTwelve._id!)"
                class="text-sm flex justify-between py-2 px-5 shadow-sm bg-primary-600 hover:bg-primary-700 border-primary-700 text-white rounded-full w-full">
                    <div class="">
                        {{dataTwelve!.quantyTime}} <span class="uppercase">Months</span> 
                        ({{dataTwelve.discount}}% <span class="lowercase">Off</span>)
                    </div>
                    <div class=" space-x-1">
                        <span class=" material-icons-outlined notranslate">attach_money</span>
                        <span class="lowercase">Total</span>
                    </div>
                </button>
            </li>
        </ul>
    </div>
</div>