
<div *ngIf="isBrowser" class="max-w-5xl mx-auto">

  <ng-template [ngIf]="!openMobil">
  
    <div class="min-h-screen  flex flex-col flex-auto flex-shrink-0 antialiased text-zinc-800 dark:text-zinc-100">
    
      <!-- Sidebar -->
      <header class="fixed flex flex-col top-0  w-16 hover:w-64 md:w-64 h-full  transition-all duration-300 border-none z-10 sidebar bg-background-light dark:bg-background-dark">
        <div class="border-r dark:border-zinc-800  overflow-y-auto overflow-x-hidden flex flex-col justify-between flex-grow">

          <div class="">

            <a routerLink="/bo" class="flex justify-center mt-5">
              <img class="w-7 h-7 md:w-10 md:h-10 mr-2 rounded-md overflow-hidden" src="./assets/logo/icon.png" />
            </a>
            
            <nav>
              <ul class="flex flex-col py-4 space-y-1 mx-2 ">
                <li *ngFor="let item of menuSidebar" 
                    [routerLinkActiveOptions]="{exact: true}"
                    routerLinkActive="bg-white dark:bg-zinc-800  rounded-full">
                  <div *ngIf="item.sub_menu!.length == 0">
                    <a [routerLink]="[item.link]" class="relative rounded-full flex flex-row items-center h-12 focus:outline-none hover:bg-white dark:hover:bg-zinc-800 text-zinc-100-600 hover:text-zinc-100-800 border-l-0 border-transparent hover:border-zinc-500 dark:hover:border-zinc-800 pr-6">
                      <i class=" material-icons-outlined notranslate inline-flex justify-center items-center ml-3">{{item.icon}}</i>
                      <span class="ml-2 text-sm tracking-wide truncate">{{item.link_name}}</span>
                    </a>
                  </div>
                </li>
               
                <li *ngIf="this.authService.user">
                  <button
                      (click)="openModalMenu()" 
                      class="w-full  rounded-full relative flex flex-row items-center h-12 focus:outline-none hover:bg-white dark:hover:bg-zinc-800 text-zinc-100-600 hover:text-zinc-100-800 border-l-0 border-transparent hover:border-zinc-500 dark:hover:border-zinc-800 pr-6">
                      <i class=" material-icons-outlined notranslate inline-flex justify-center items-center ml-3 ">menu</i>
                      <span class="ml-2 text-sm tracking-wide truncate">More</span>
                    </button>
                </li>

                <li *ngIf="this.authService.user">
                  <div>
                    <button (click)="logout()" class="w-full  rounded-full relative flex flex-row items-center h-12 focus:outline-none hover:bg-white dark:hover:bg-zinc-800 text-zinc-100-600 hover:text-zinc-100-800 border-l-0 border-transparent hover:border-zinc-500 dark:hover:border-zinc-800 pr-6">
                      <i class=" material-icons-outlined notranslate inline-flex justify-center items-center ml-3">logout</i>
                      <span class="ml-2 text-sm tracking-wide truncate">Salir</span>
                    </button>
                  </div>
                </li>

                <li *ngIf="!this.authService.user">
                  <div>
                    <a routerLink="auth/login" class="w-full  rounded-full relative flex flex-row items-center h-12 focus:outline-none hover:bg-white dark:hover:bg-zinc-800 text-zinc-100-600 hover:text-zinc-100-800 border-l-0 border-transparent hover:border-zinc-500 dark:hover:border-zinc-800 pr-6">
                      <i class=" material-icons-outlined notranslate inline-flex justify-center items-center ml-3 ">login</i>
                      <span class="ml-2 text-sm tracking-wide truncate">Login</span>
                    </a>
                  </div>
                </li>

                <li>
                  <div class="mt-10">
                    <a routerLink="panel/create-post" class="w-full rounded-full relative flex flex-row items-center h-12 focus:outline-none text-white bg-primary-600 hover:bg-primary-700 text-zinc-100-600 hover:text-zinc-100-800 border-l-0 border-transparent hover:border-zinc-500 dark:hover:border-zinc-800 pr-6 md:pr-0 ">
                      <div class=" inline-flex justify-center items-center ">
                        <i class=" material-icons-outlined notranslate ml-3">add</i>
                      </div>
                      <div class=" text-xs font-bold tracking-wide truncate uppercase text-center  w-full -ml-3">New post</div>
                    </a>
                  </div>
                </li>

              </ul>
            </nav>
              
          </div>
          <p class="mb-14 px-5 py-3 hidden md:block text-center text-xs dark:text-zinc-500">Copyright @2023</p>
        </div>
      </header>
      <!-- ./Sidebar -->
    
      <!-- Container -->
      <main class="h-full ml-14 mt-0 mb-10 md:ml-64 border-r dark:border-zinc-800 bg-background-light dark:bg-zinc-800">
        <router-outlet></router-outlet>
      </main>
      <!-- ./Container -->
      <app-footer-one></app-footer-one>
    </div>
    
</ng-template>

<ng-template [ngIf]="openMobil">
  <div class="relative max-w-2xl mx-auto my-3  antialiased bg-zinc-50 dark:bg-zinc-900 text-zinc-800 dark:text-zinc-100">
    <main>
      <router-outlet></router-outlet>
    </main>  
    <!-- bottom navigation -->
    <header class="sticky bottom-0 left-0  w-full py-2 px-3 mt-1 text-xs bg-zinc-50 dark:bg-zinc-900">
      <div class="flex justify-between items-center">
          <div class="flex flex-col items-center">
            <i class=" material-icons-outlined notranslate inline-flex justify-center items-center w-5 h-5">home</i>
              <span>Home</span>
          </div>

          <div class="flex flex-col items-center">
            <i class=" material-icons-outlined notranslate inline-flex justify-center items-center w-5 h-5">public</i>
              <span>Countries</span>
          </div>
          <!-- <div class="flex flex-col items-center">
              <button class="bg-black text-zinc-100 px-5 py-2 rounded-md border border-pink-500">
                  <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor">
                      <path fill-rule="evenodd" d="M10 3a1 1 0 011 1v5h5a1 1 0 110 2h-5v5a1 1 0 11-2 0v-5H4a1 1 0 110-2h5V4a1 1 0 011-1z" clip-rule="evenodd" />
                  </svg>
              </button>
          </div> -->
          <div class="flex flex-col items-center">
            <i class=" material-icons-outlined notranslate inline-flex justify-center items-center w-5 h-5">movie</i>
              <span>Posts</span>
          </div>

          <div class="flex flex-col items-center">
            <i class=" material-icons-outlined notranslate inline-flex justify-center items-center w-5 h-5">chat</i>
              <span>Chats</span>
          </div>

          <div class="flex flex-col items-center">
            <i class=" material-icons-outlined notranslate inline-flex justify-center items-center w-5 h-5">face</i>
              <span>Profile</span>
          </div>

      </div>
    </header>
  </div>
    
</ng-template>

</div>

<jw-modal id="menu"> 
  <div *ngIf="authService.user" class="max-w-5xl mx-auto hello-modal">
    <div class=" bg-background-light dark:bg-background-dark w-64 h-full my-10 rounded-md">
      <div>
        <div style="background-image: url('{{authService.user!.Cover!.length > 0 ? this.prinImages(authService.user!.Cover) : null}}');" 
          class="bg-cover bg-zinc-300 dark:bg-zinc-600 flex justify-end items-end px-6 pt-5 pb-6 h-20 md:h-20 w-full object-cover rounded-t-lg ">
          <div  class="space-y-1 text-center">
          <div class="flex justify-center items-center space-x-2 text-sm ">
          </div>
          </div>
        </div>
    
        <div class="-mt-8 flex justify-between w-full">
            <div 
                style="background-image: url('{{authService.user!.Profile!.length > 0 ? this.prinImages(authService.user!.Profile) : null}}');" 
                class="border-2 border-zinc-50 dark:border-zinc-800 bg-zinc-200 dark:bg-zinc-700 flex bg-cover justify-center px-6 pt-6 pb-6 rounded-full w-20 h-20 md:w-20 md:h-20 z-10 flex-shrink-0">
                <div class="flex justify-end items-end text-center">
                </div>
            </div>
            <div class="mt-8 truncate w-full pl-2">
                <p class="font-semibold text-base text-left truncate">{{authService.user!.name}} </p>
        
                <p class=" text-sm text-gray-500 text-left truncate">   
                    <a  routerLink="/{{authService.user!.username}}" class="text-zinc-500 dark:text-zinc-400 hover:text-blue-500 hover:underline"> @{{authService.user!.username}} </a> 
                </p>
            </div>
        </div>
      </div>

      <ul class="flex flex-col py-4 space-y-1 mx-2 ">
        <li *ngFor="let item of menuSidebarModal" #itemEl routerLinkActive="bg-white dark:bg-zinc-800  rounded-full">
          <div *ngIf="item.sub_menu!.length == 0">
            <a (click)="closeModal()" [routerLink]="[item.link]" class="relative rounded-full flex flex-row items-center h-11 focus:outline-none hover:bg-white dark:hover:bg-zinc-800 text-zinc-100-600 hover:text-zinc-100-800 border-l-0 border-transparent hover:border-zinc-500 dark:hover:border-zinc-800 pr-6">
              <i class=" material-icons-outlined notranslate inline-flex justify-center items-center ml-2">{{item.icon}}</i>
              <span class="ml-2 text-sm tracking-wide truncate">{{item.link_name}}</span>
            </a>
          </div>
         
        </li>
  
        <li *ngIf="this.authService.user">
          <div>
            <button (click)="logout()" class="w-full  rounded-full relative flex flex-row items-center h-11 focus:outline-none hover:bg-white dark:hover:bg-zinc-800 text-zinc-100-600 hover:text-zinc-100-800 border-l-0 border-transparent hover:border-zinc-500 dark:hover:border-zinc-800 pr-6">
              <i class=" material-icons-outlined notranslate inline-flex justify-center items-center ml-2">logout</i>
              <span class="ml-2 text-sm tracking-wide truncate">Salir</span>
            </button>
          </div>
        </li>
  
        <li *ngIf="!this.authService.user">
          <div>
            <a routerLink="auth/login" class="w-full  rounded-full relative flex flex-row items-center h-11 focus:outline-none hover:bg-white dark:hover:bg-zinc-800 text-zinc-100-600 hover:text-zinc-100-800 border-l-0 border-transparent hover:border-zinc-500 dark:hover:border-zinc-800 pr-6">
              <i class=" material-icons-outlined notranslate inline-flex justify-center items-center ml-2 ">login</i>
              <span class="ml-2 text-sm tracking-wide truncate">Login</span>
            </a>
          </div>
        </li>
        
      </ul>
    </div>
  </div>
  
</jw-modal>
