<div class="max-w-6xl mx-auto">

  <ng-template [ngIf]="!openMobil">

    <div class="min-h-screen  flex flex-col flex-auto flex-shrink-0 antialiased text-zinc-800 dark:text-zinc-100">

      <!-- Sidebar -->
      <header
        class="fixed flex flex-col top-0  w-16 hover:w-[18.5rem] md:w-[18.5rem] h-full  transition-all duration-300 border-none z-50 sidebar bg-background-light dark:bg-background-dark ">
        <div class="overflow-y-auto overflow-x-hidden flex flex-col justify-between flex-grow">

          <div class="">

            <a routerLink="{{countryCurrentIso}}" class="flex justify-center mt-5 items-center">
              <img class="w-7 h-7 md:w-10 md:h-10 mr-2 rounded-md overflow-hidden" src="./assets/logo/icon.png" />
            </a>

            <ul class="flex flex-col py-4 space-y-1 mx-2">
              <li *ngFor="let item of menuSidebar" [routerLinkActiveOptions]="{exact: true}"
                routerLinkActive="bg-zinc-100 dark:bg-zinc-800 shadow rounded-full">
                <div *ngIf="item.sub_menu!.length == 0">
                  <a [routerLink]="[item.link]"
                    class="relative rounded-full  flex flex-row items-center h-12 focus:outline-none hover:bg-zinc-50 dark:hover:bg-zinc-800 text-zinc-100-600 hover:text-zinc-100-800 border-l-0 border-transparent hover:border-zinc-500 dark:hover:border-zinc-800 pr-6">
                    <i
                      class=" material-icons-outlined notranslate inline-flex justify-center items-center ml-3">{{item.icon}}</i>
                    <span class="ml-2 text-sm tracking-wide truncate">{{item.link_name! | translate}}</span>
                  </a>
                </div>
              </li>

              <li *ngIf="this.authService.user">
                <button (click)="onMenuSiberDialog()"
                  class="w-full  rounded-full relative flex flex-row items-center h-12 focus:outline-none hover:bg-white dark:hover:bg-zinc-800 text-zinc-100-600 hover:text-zinc-100-800 border-l-0 border-transparent hover:border-zinc-500 dark:hover:border-zinc-800 pr-6">
                  <i class=" material-icons-outlined notranslate inline-flex justify-center items-center ml-3">menu</i>
                  <span class="ml-2 text-sm tracking-wide truncate">{{'more' | translate}}</span>
                </button>
              </li>

              <li *ngIf="this.authService.user">
                <div>
                  <button (click)="logout()"
                    class="w-full  rounded-full relative flex flex-row items-center h-12 focus:outline-none hover:bg-white dark:hover:bg-zinc-800 text-zinc-100-600 hover:text-zinc-100-800 border-l-0 border-transparent hover:border-zinc-500 dark:hover:border-zinc-800 pr-6">
                    <i
                      class=" material-icons-outlined notranslate inline-flex justify-center items-center ml-3">logout</i>
                    <span class="ml-2 text-sm tracking-wide truncate">{{'logout' | translate}}</span>
                  </button>
                </div>
              </li>

              <li *ngIf="!this.authService.user">
                <div>
                  <a routerLink="auth/login"
                    class="w-full  rounded-full relative flex flex-row items-center h-12 focus:outline-none hover:bg-white dark:hover:bg-zinc-800 text-zinc-100-600 hover:text-zinc-100-800 border-l-0 border-transparent hover:border-zinc-500 dark:hover:border-zinc-800 pr-6">
                    <i
                      class=" material-icons-outlined notranslate inline-flex justify-center items-center ml-3">login</i>
                    <span class="ml-2 text-sm tracking-wide truncate">{{'login' | translate}}</span>
                  </a>
                </div>
              </li>

              <li>
                <div class="mt-10">
                  <a routerLink="panel/create-post"
                    class="w-full rounded-full relative flex flex-row items-center h-12 focus:outline-none text-white bg-primary-600 hover:bg-primary-700 text-zinc-100-600 hover:text-zinc-100-800 border-l-0 border-transparent hover:border-zinc-500 dark:hover:border-zinc-800 pr-6 md:pr-0 ">
                    <div class=" inline-flex justify-center items-center ">
                      <i class=" material-icons-outlined notranslate ml-3">add</i>
                    </div>
                    <div class=" text-xs font-bold tracking-wide truncate uppercase text-center  w-full -ml-3 ">
                      {{'new_post' | translate}}
                    </div>
                  </a>
                </div>
              </li>

            </ul>

          </div>
          <p class="mb-14 px-5 py-3 hidden md:block text-center text-xs dark:text-zinc-500">Copyright @2023</p>
        </div>
      </header>
      <!-- ./Sidebar -->

      <!-- Container -->
      <div class="h-full ml-18 mt-0 mb-10 md:ml-[18.5rem] ">
        <router-outlet></router-outlet>
      </div>

      <!-- ./Container -->
    </div>

  </ng-template>

  <ng-template [ngIf]="openMobil">
    <div class="relative max-w-2xl mx-auto  antialiased bg-zinc-50 dark:bg-zinc-900 text-zinc-800 dark:text-zinc-100">
      <main>
        <router-outlet></router-outlet>
      </main>
      <!-- bottom navigation -->
      <header
        class="fixed bottom-0 w-full  text-xs bg-zinc-50 dark:bg-zinc-900 border-t dark:border-zinc-800 z-20 ">
        <div class="flex justify-between items-center py-2 px-3 h-14">
          
          <a routerLink="/{{this.countryCurrentIso}}" class="flex flex-col items-center">
            <i class=" material-icons-outlined notranslate inline-flex justify-center items-center w-5 h-5">home</i>
            <!-- <span>{{'home' | translate}}</span> -->
          </a>
          
          <!-- <a routerLink="/{{this.countryCurrentIso}}" class="flex flex-col items-center">
            <i class=" material-icons-outlined notranslate inline-flex justify-center items-center w-5 h-5">home</i>
            <span>{{'home' | translate}}</span>
          </a> -->

          <a routerLink="/" class="flex flex-col items-center">
            <i class=" material-icons-outlined notranslate inline-flex justify-center items-center w-5 h-5">public</i>
            <!-- <span>{{'countries' | translate}}</span> -->
          </a>

          <a routerLink="/feed" class="flex flex-col items-center">
            <i class=" material-icons-outlined notranslate inline-flex justify-center items-center w-5 h-5">movie</i>
            <!-- <span>Feed</span> -->
          </a>

          <a routerLink="/videocam" class="flex flex-col items-center">
            <i class=" material-icons-outlined notranslate inline-flex justify-center items-center w-5 h-5">voice_chat</i>
            <!-- <span>{{'videocam' | translate}}</span> -->
          </a>

          <!-- <a *ngIf="this.authService.user" routerLink="/{{this.authService.user.username}}"
            class="flex flex-col items-center">
            <i class=" material-icons-outlined notranslate inline-flex justify-center items-center w-5 h-5">face</i>
            <span>{{'profile' | translate}}</span>
          </a> -->

          <button *ngIf="this.authService.user" (click)="onMenuSiberDialog()" class="flex flex-col items-center">
            <i class=" material-icons-outlined notranslate inline-flex justify-center items-center w-5 h-5">menu</i>
            <!-- <span>{{'more' | translate}}</span> -->
          </button>


          <a *ngIf="!this.authService.user" routerLink="auth/login" class="flex flex-col items-center">
            <i class=" material-icons-outlined notranslate inline-flex justify-center items-center w-5 h-5">login</i>
            <!-- <span>{{'login' | translate}}</span> -->
          </a>


        </div>
      </header>
    </div>

  </ng-template>

  <app-sibermenu-dialog *ngIf="modalMenuSiber && authService.user" (onClose)="closeModalMenuSiber()">

    <div>
      <div
        style="background-image: url('{{authService.user!.Cover!.length > 0 ? this.prinImages(authService.user!.Cover) : null}}');"
        class="bg-cover bg-zinc-300 dark:bg-zinc-600 flex justify-end items-end px-6 pt-5 pb-6 h-20 md:h-20 w-full object-cover rounded-t-lg ">
        <div class="space-y-1 text-center">
          <!-- <div class="hidden justify-center items-center space-x-2 text-sm ">
            <div *ngIf="userCreditData" class="flex items-center space-x-2">
              <span class="text-2xl">$</span>
              <span class="text-4xl font-bold">{{userCreditData.current | numberMoney}}</span>
            </div>
            <div *ngIf="!userCreditData" class="flex items-center space-x-2">
              <span class="text-2xl">$</span>
              <span class="text-4xl font-bold">{{0 | numberMoney}}</span>
            </div>
          </div> -->
        </div>
      </div>

      <div class="-mt-8 flex justify-between w-full">
        <div
          style="background-image: url('{{authService.user!.Profile!.length > 0 ? this.prinImages(authService.user!.Profile) : null}}');"
          class="border-2 border-zinc-50 dark:border-zinc-800 bg-zinc-200 dark:bg-zinc-700 flex bg-cover justify-center px-6 pt-6 pb-6 rounded-full w-20 h-20 md:w-20 md:h-20 z-10 flex-shrink-0">
          <div class="flex justify-end items-end text-center">
          </div>
        </div>
        <div class="mt-8 truncate w-full pl-2">
          <p class="font-semibold text-base text-left truncate">{{authService.user!.name}} </p>

          <p class=" text-sm text-gray-500 text-left truncate">
            <a routerLink="/{{authService.user!.username}}"
              class="text-zinc-500 dark:text-zinc-400 hover:text-blue-500 hover:underline">
              @{{authService.user!.username}} </a>
          </p>
        </div>
      </div>
    </div>

    <ul class="flex flex-col py-4 space-y-1 mx-2 ">
      <li *ngFor="let item of menuSidebarModal" #itemEl routerLinkActive="bg-zinc-100 dark:bg-zinc-800 shadow rounded-full">
        <div *ngIf="item.sub_menu!.length == 0">
          <a (click)="closeModalMenuSiber()" [routerLink]="[item.link]"
            class="relative rounded-full flex flex-row items-center h-11 focus:outline-none hover:bg-white dark:hover:bg-zinc-800 text-zinc-100-600 hover:text-zinc-100-800 border-l-0 border-transparent hover:border-zinc-500 dark:hover:border-zinc-800 pr-6">
            <i
              class=" material-icons-outlined notranslate inline-flex justify-center items-center ml-2">{{item.icon}}</i>
            <span class="ml-2 text-sm tracking-wide truncate">{{item.link_name! | translate}}</span>
          </a>
        </div>

      </li>

      <li *ngIf="this.authService.user">
        <div>
          <button (click)="logout()"
            class="w-full  rounded-full relative flex flex-row items-center h-11 focus:outline-none hover:bg-white dark:hover:bg-zinc-800 text-zinc-100-600 hover:text-zinc-100-800 border-l-0 border-transparent hover:border-zinc-500 dark:hover:border-zinc-800 pr-6">
            <i class=" material-icons-outlined notranslate inline-flex justify-center items-center ml-2">logout</i>
            <span class="ml-2 text-sm tracking-wide truncate">{{'logout' | translate}}</span>
          </button>
        </div>
      </li>

      <li *ngIf="!this.authService.user">
        <div>
          <a routerLink="auth/login"
            class="w-full  rounded-full relative flex flex-row items-center h-11 focus:outline-none hover:bg-white dark:hover:bg-zinc-800 text-zinc-100-600 hover:text-zinc-100-800 border-l-0 border-transparent hover:border-zinc-500 dark:hover:border-zinc-800 pr-6">
            <i class=" material-icons-outlined notranslate inline-flex justify-center items-center ml-2 ">login</i>
            <span class="ml-2 text-sm tracking-wide truncate">{{'login' | translate}}</span>
          </a>
        </div>
      </li>

    </ul>

  </app-sibermenu-dialog>

</div>