<div *ngIf="count"  class="flex justify-start items-center space-x-5 text-sm font-semibold">
    <a routerLink="/panel/your-ads/active"
        [routerLinkActiveOptions]="{exact: false}"
        routerLinkActive="bg-primary-700 dark:bg-primary-700 text-white"
        class="bg-zinc-50 dark:bg-zinc-800  rounded-full px-4 py-1 space-x-2 shadow-md">
        <span>{{'active' | translate}}</span>
        <span>{{count.active}}</span>
    </a>

    <a routerLink="/panel/your-ads/suspended"
        [routerLinkActiveOptions]="{exact: false}"
        routerLinkActive="bg-primary-700 dark:bg-primary-700 text-white"
        class="bg-zinc-50 dark:bg-zinc-800  rounded-full px-4 py-1 space-x-2 shadow-md">
        <span>{{'suspended' | translate}}</span>
        <span>{{count.inactive}}</span>
    </a>
</div>