<fieldset class="w-full break-inside  rounded-xl border border-zinc-200 dark:border-zinc-700 bg-zinc-50 dark:bg-zinc-800 dark:text-zinc-200  p-2 sm:p-4 shadow-xl">
    <div *ngIf="!edit else formEdit">
        <div class="flex justify-between">
            <h4 class="text-lg font-semibold">
                {{'changePassword' | translate}}
            </h4>
            <div (click)="onChangeEdit()" class=" cursor-pointer">
                <i class="fa-solid fa-pen-to-square"></i>
            </div>
        </div>
        <div *ngIf="this.user">
            <div class="flex justify-center mt-5">
                <button
                (click)="onChangeEdit()"
                class=" py-3 px-20 shadow-sm bg-primary-600 hover:bg-primary-700 border-primary-700 uppercase text-white rounded-full font-semibold text-sm" 
                    >
                {{'change' | translate}}
                </button>
            </div>
        </div>
    </div>
    
    <ng-template #formEdit>
        <div class="flex justify-between">
            <h4 class="text-lg font-semibold">{{'changePassword' | translate}}</h4>
            <div (click)="onCancel()" class=" cursor-pointer">
                <i class="fas fa-chevron-left"></i>
            </div>
        </div>
        <form [formGroup]="myform" novalidate class="px-2 sm:px-0 mt-4">
            <div class="mb-4 grid grid-cols-1 gap-4">
                <div class="flex flex-col">
                    <label for="password" class="mb-2 font-semibold">{{'password' | translate}}</label>
                    <div class="relative w-full">
                    <input formControlName="password" id="text" 
                    [ngClass]="{
                        'dark:bg-zinc-700 border-green-500 dark:border-green-600  focus:ring-green-100 active:ring-green-100': 
                        myform.controls['password'].valid && (myform.controls['password'].dirty || myform.controls['password'].touched),
                        ' dark:bg-zinc-700 border-red-500 dark:border-red-600 focus:ring-red-100 active:ring-red-100': 
                        myform.controls['password'].invalid && (myform.controls['password'].dirty || myform.controls['password'].touched),
                        'w-full rounded-lg py-2 px-2 focus:outline-none focus:ring dark:bg-zinc-700 border dark:border-zinc-700 focus:ring-zinc-200 active:ring-zinc-200  focus:dark:ring-zinc-700 active:ring  active:dark:ring-zinc-700 ': true
                    }"
                    />
                    <div *ngIf="exist" class="flex absolute inset-y-0 right-0 items-center pr-2 pointer-events-none">
                        <i class="fas fa-exclamation-circle text-red-500"></i>
                    </div>
                    </div>
                </div>
                <div class="flex flex-col">
                    <label for="confirmPassword" class="mb-2 font-semibold">{{'repeat_password' | translate}}</label>
                    <div class="relative w-full">
                    <input formControlName="confirmPassword" id="text" 
                    [ngClass]="{
                        'dark:bg-zinc-700 border-green-500 dark:border-green-600  focus:ring-green-100 active:ring-green-100': 
                        myform.controls['confirmPassword'].valid && (myform.controls['confirmPassword'].dirty || myform.controls['confirmPassword'].touched),
                        ' dark:bg-zinc-700 border-red-500 dark:border-red-600 focus:ring-red-100 active:ring-red-100': 
                        myform.controls['confirmPassword'].invalid && (myform.controls['confirmPassword'].dirty || myform.controls['confirmPassword'].touched),
                        'w-full rounded-lg py-2 px-2 focus:outline-none focus:ring dark:bg-zinc-700 border dark:border-zinc-700 focus:ring-zinc-200 active:ring-zinc-200  focus:dark:ring-zinc-700 active:ring  active:dark:ring-zinc-700 ': true
                    }"
                    />
                    <div *ngIf="exist" class="flex absolute inset-y-0 right-0 items-center pr-2 pointer-events-none">
                        <i class="fas fa-exclamation-circle text-red-500"></i>
                    </div>
                    </div>
                </div>
            </div>
        
            <div class="flex justify-center mt-5">
                <button
                    (click)="onSubmit()"
                    [ngClass]="myform.status == 'VALID' ? '' : 'opacity-50'" 
                    class=" py-3 px-20 shadow-sm bg-primary-600 hover:bg-primary-700 border-primary-700 uppercase text-white rounded-full font-semibold text-sm" 
                    [disabled]="myform.status == 'VALID' ? false: true">
                    {{'save' | translate}}
                </button>
            </div>
        </form>
    </ng-template>
   
</fieldset>
