<div>
  <div *ngIf="this.cams.length > 0; else loadingTemplate" class=" pt-0">

    <main class="space-y-0 px-0 md:px-0">
      <!-- -->
      <div class="grid grid-cols-2 md:grid-cols-2 gap-2">

        <div *ngFor="let item of this.cams">
          <article #theLastList class="">
            
            <div (click)="onCam(item)" class="relative cursor-pointer  border-transparent hover:border-white">
              <img src="{{item.User!.Profile[0].url}}"
                class=" w-full h-36 object-cover" alt="{{item.User!.username}}">
              <div class="absolute top-0 right-0 m-1">
                <button (click)="onCam(item)" class="bg-green-500 text-white py-1 px-2 rounded">{{'online' |
                  translate}}</button>
              </div>
              <div class="absolute bottom-0 left-0 p-2 text-white">
                @{{item.User!.username}}
              </div>
            </div>

          </article>
        </div>
      </div>
    </main>

  </div>

  <ng-template #loadingTemplate>
    <div class="my-10">
      <div *ngIf="loading; else noData" class="space-y-2">

        <section *ngFor="let item of this.postLoading"
          class="bg-zinc-50 dark:bg-zinc-800  p-4 w-full mx-auto space-y-2 shadow-sm">
          <div class="animate-pulse flex space-x-4">
            <div class="rounded-full bg-zinc-200 dark:bg-zinc-700 h-12 w-12"></div>
            <div class="flex-1 space-y-6 py-1">
              <div class="flex flex-col space-y-1">
                <div class="h-2 bg-zinc-200 dark:bg-zinc-700 rounded w-32">

                </div>
                <div class="h-2 bg-zinc-200 dark:bg-zinc-700 rounded w-24">

                </div>
              </div>

            </div>
          </div>
          <div class=" animate-pulse h-2 bg-zinc-200 dark:bg-zinc-700 rounded ">

          </div>
          <div class=" animate-pulse w-full h-44 md:h-112 bg-zinc-200 dark:bg-zinc-700 rounded ">

          </div>
        </section>

      </div>
      <ng-template #noData>
        <div class=" text-center font-light text-3xl">
          {{'there_is_no_data' | translate}}
        </div>
      </ng-template>
    </div>
  </ng-template>
</div>