<div class="flex justify-center items-center text-sm">
    <div class="flex justify-between items-center space-x-5">
      <a routerLink="/legal/privacy" class="text-zinc-600 dark:text-zinc-400 hover:underline cursor-pointer">
        {{ 'privacy' | translate }}
      </a>
      <div class="separator bg-zinc-600 dark:bg-zinc-400"></div>
      <a routerLink="/legal/terms" class="text-zinc-600 dark:text-zinc-400 hover:underline cursor-pointer">
        {{ 'terms_of_service' | translate }}
      </a>
    </div>
  </div>
  