
<img [src]="imgSrc">

<div *ngIf="postMedia!.length > 1; else one" 
    class="media-lightbox-container w-full bg-zinc-200/50 dark:bg-zinc-900 "
    style=" background-image: url('{{currentLinghtboxImage}}'); background-repeat: no-repeat; background-position: center center;  background-size: cover;">
    <!-- <div class="media">
        <div  *ngFor="let item of postMedia; let i = index" class="media-img">
            <img (click)="onPreviewImage(i)" src="{{item.url}}" alt="{{i}}">
        </div>
    </div> -->
    <div *ngIf="showMask" class="lightbox  backdrop-blur-xl bg-zinc-900/50  " @animation2>
        <div *ngIf="showCount" class="count space-x-1 text-xs">
            <span class=" text-zinc-500 dark:text-zinc-100">{{currentIndex + 1}}</span> 
            <span class=" text-zinc-500 dark:text-zinc-100">/</span> 
            <span class=" text-zinc-500 dark:text-zinc-100">{{totalImageCount}}</span>
        </div>
        <!-- Slider controls -->
        <button type="button" *ngIf="controls" 
            (click)="next()"
            class="flex absolute top-0 left-0 z-30 justify-center items-center px-4 h-full cursor-pointer group focus:outline-none" data-carousel-prev>
            <span class="inline-flex justify-center items-center w-7 h-7 rounded-full sm:w-7 sm:h-7 bg-zinc-200 dark:bg-zinc-800/30  dark:group-hover:bg-zinc-800/60 group-focus:ring-4 group-focus:ring-white dark:group-focus:ring-zinc-800/70 group-focus:outline-none">
                <svg class="w-5 h-5 text-zinc-500 sm:w-4 sm:h-4 dark:text-zinc-800" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 19l-7-7 7-7"></path></svg>
                <span class="hidden">Previous</span>
            </span>
        </button>
        <button type="button" *ngIf="controls" 
            (click)="prev()"
            class="flex absolute top-0 right-0 z-30 justify-center items-center px-4 h-full cursor-pointer group focus:outline-none" data-carousel-next>
            <span class="inline-flex justify-center items-center w-7 h-7 rounded-full sm:w-7 sm:h-7 bg-zinc-200 dark:bg-zinc-800/30  dark:group-hover:bg-zinc-800/60 group-focus:ring-4 group-focus:ring-white dark:group-focus:ring-zinc-800/70 group-focus:outline-none">
                <svg class="w-5 h-5 text-zinc-500 sm:w-4 sm:h-4 dark:text-zinc-800" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5l7 7-7 7"></path></svg>
                <span class="hidden">Next</span>
            </span>
        </button>
        <div 
            *ngIf="previewImage" 
            class="lightbox-img">
            <img [src]="currentLinghtboxImage" alt="" class="h-72 md:h-112 w-fit"> 
        </div>
    </div>
</div>

<ng-template #one>
    <video *ngIf="postMedia![0].type == 'video'" class=" bg-zinc-800 w-full h-72 md:h-112" loop controls controlsList="nodownload" disablePictureInPicture controlsList="nodownload noplaybackrate " oncontextmenu="return false;" 
        poster="{{postMedia![0].urlSnapshot}}">
        <source src="{{postMedia![0].url}}" type="video/mp4">
    </video>
    <img *ngIf="postMedia![0].type == 'image'" src="{{postMedia![0].url}}" alt="" class="h-72 md:h-112 w-fit"> 
</ng-template>


<!-- <div *ngIf="postMedia!.length" class="columns-2 md:columns-3 lg:columns-1">
    <carousel class="relative mb-4 before:content-[''] before:rounded-md before:absolute before:inset-0 before:bg-black before:bg-opacity-20">
      <ng-container *ngFor="let item of postMedia">
        <ng-container *carouselItem>
          <img class="w-full rounded-md" src="{{item.url}}">
        </ng-container>
      </ng-container>
    </carousel>
  </div>

  <div class="columns-2 md:columns-3 lg:columns-3">
    <div *ngFor="let item of postMedia" class="relative mb-4 before:content-[''] before:rounded-md before:absolute before:inset-0 before:bg-black before:bg-opacity-20">
      <img class="w-full rounded-md" src="{{item.url}}">
      <div class="test__body absolute inset-0 p-8 text-white flex flex-col hidden">
        <div class="relative">
          <a class="test__link absolute inset-0" target="_blank" href="/"></a>
          <h1 class="test__title text-3xl font-bold mb-3">Title post</h1>
          <p class="test__author font-sm font-light">Author</p>
        </div>
        <div class="mt-auto">
          <span class="test__tag bg-white bg-opacity-60 py-1 px-4 rounded-md text-black">#tag</span>
        </div>
      </div>
    </div>
  </div> -->
