<div class="uppercase text-xs px-2">
  {{date | date:' dd LLLL'}}
</div>

<div class="space-y-3 px-1 mt-2">
  <div *ngFor="let item of this.posts" class="containter mx-auto ">
    <div class="border  text-slate-100   rounded-lg {{item.plan == 1? 'border-blue-600' : item.plan == 2 ? 'border-pink-600' : 'border-gray-200'}} shadow-lg relative hover:shadow-xl transition duration-500" style="background-color: #191818;">
      <div class="grid  grid-cols-5  sm:grid-flow-col gap-1 h-52">
        <div *ngIf="item.plan == 1 || item.plan ==2" class=" h-52 col-span-2 sm:col-span-1 bg-gray-100 rounded-md flex justify-center items-center">
          <carousel *ngIf="item.plan == 2" class="w-full">
            <ng-container *ngFor="let image of item.PostMedias">
              <ng-container *carouselItem>
                <div class="item w-52 h-52 ">
                  <img class="h-full w-full object-cover rounded-l-md" src="{{image.url}}"/>
                </div>
              </ng-container>
            </ng-container>
          </carousel> 
          <div *ngIf="item.plan == 1" class=" w-52 h-52">
            <img src="{{prinImages(item.PostMedias)}}" class="h-full w-full object-cover rounded-l-md" alt="">
          </div>
        </div>

        <div class=" {{item.plan == 1 || item.plan ==2 ? ' col-span-3 sm:col-span-4 row-span-2' : 'col-span-5'}} px-2 pt-2 overflow-x-hidden rounded-2xl relative">
          
          <div class="h-full grid grid-cols-1 gap-1 content-between">
            <div class="space-y-4 md:space-y-5 mt-0 md:mt-2">
              <a routerLink="/{{item.slug}}" class="space-y-2">     
                <p class=" truncate-title font-normal text-lg text-primary-600">{{item.title}}</p>
                <p class="text-sm tracking-tight font-normal leading-6 truncate-description">
                    {{item.description}}
                </p>
              </a>
              <p class="text-xs space-x-1 truncate">
                <span class="font-bold">{{item.age}} años</span>
                <span>|</span>
                <span>{{item.AdCategory![0].name}}</span>
                <span>|</span>
                <span>{{item.StateCity![0].name}}</span>
              </p>
            </div>
            <div class="flex items-center justify-between mx-0 mt-3 mb-2 text-lg">
              <a
                class="border flex justify-between items-center space-x-1 text-xs uppercase border-primary-600 text-primary-600 rounded-md p-2"  
                href="https://wa.me/{{item.phonePrefix}}{{item.phone}}/?text={{textMessage(item)}}" target="_blank">
                <i class="fab fa-whatsapp"></i>
                <span>WhatsApp</span>
              </a>
              <a
                class="border flex justify-between items-center space-x-1 text-xs uppercase border-primary-600 text-primary-600 rounded-md p-2"   
                href="tel:{{item.phonePrefix}} {{item.phone}}">
                <i class="fas fa-phone-alt"></i>
                <span>Telefono</span>
              </a>
            </div>
          </div>
        </div>
        
      </div>
      <div>
        <span *ngIf="item.plan == 1 || item.plan ==2" class="absolute py-1 text-sm text-white -top-1 right-4 rounded-md transform translate-x-2 -translate-y-3">
          <img *ngIf="item.plan == 2" class="h-6 w-6" src="./assets/icon/diamante-pink.png" alt="">
          <img *ngIf="item.plan == 1" class="h-6 w-6" src="./assets/icon/diamante-blue.png" alt="">
        </span>
      </div>
    </div>
  </div>
</div>
