<div *ngIf="this.countries.length > 0; else loadingTemplate" class="px-2">
  <div class="flex flex-wrap justify-center gap-4 font-mono text-sm font-bold rounded-l">
    <div *ngFor="let menu of countries; let i = index"
      class="rounded-xl bg-zinc-50 dark:bg-zinc-800 px-2 shadow-lg hover:shadow-xl hover:transform hover:scale-105 duration-300 ">
      <a (click)="onCountryCurrent(menu.code)" routerLink="/{{countryCode(menu.code)}}" class="flex items-center space-x-2">
        <div class="relative flex items-end overflow-hidden rounded-xl">
          <img src="{{menu.icon}}" alt="{{menu.name}}" class="h-10" />
        </div>

        <div class="text-left flex-shrink-0">
          <h5 class="">{{menu.name}}</h5>
        </div>
      </a>
    </div>
  </div>
</div>

<ng-template #loadingTemplate>
  <div class="my-10">
    <div *ngIf="loading; else noData" class="flex flex-wrap justify-center gap-4 font-mono text-sm font-bold rounded-l">

      <div *ngFor="let item of this.postLoading; let i = index"
        class="rounded-xl py-1 space-x-1 bg-zinc-50 dark:bg-zinc-800 px-1 shadow-lg hover:shadow-xl hover:transform hover:scale-105 duration-300  flex justify-between items-center">
        <div
          class="animate-pulse bg-zinc-200 dark:bg-zinc-700 h-8 w-10 relative flex items-end overflow-hidden rounded-lg">

        </div>

        <div
          class="animate-pulse bg-zinc-200 dark:bg-zinc-700 h-3 w-16 relative flex items-end overflow-hidden rounded-lg">

        </div>
      </div>
    </div>
    <ng-template #noData>
      <div class=" text-center font-light text-3xl">
        {{'there_is_no_data' | translate}}
      </div>
    </ng-template>
  </div>
</ng-template>