.gallery-lightbox-container {
    position: relative;
  }
  
  .gallery {
    /* Estilos de la galería de imágenes */
  }
  
  .gallery-img img {
    /* Estilos de las imágenes de la galería */
  }
  
  .lightbox {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
    background-color: rgba(0, 0, 0, 0.6);
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .lightbox-content {
    /* Estilos del contenido del lightbox */
  }
  
  :host ::ng-deep body {
    /* Estilos generales */
  }
  