<div class="p-10 bg-white">
    primary
    <div class="w-36 h-28" style="background-color: #f9e0e6;">50</div>
    <div class="w-36 h-28" style="background-color: #fbc1d0;">100</div>
    <div class="w-36 h-28" style="background-color: #f79bb2;">200</div>
    <div class="w-36 h-28" style="background-color: #f882a0;"> 300</div>
    <div class="w-36 h-28" style="background-color: #f2698c;">400</div>
    <div class="w-36 h-28" style="background-color: #ec567c;">500</div>
    <div class="w-36 h-28" style="background-color: #e44870;">600</div>
    <div class="w-36 h-28" style="background-color: #d43961;">700</div>
    <div class="w-36 h-28" style="background-color: #c0294f;">800</div>
    <div class="w-36 h-28" style="background-color: #a61d40;">900</div>
    secondary
    <div class="w-36 h-28" style="background-color: #f8f7f7;">50</div>
    <div class="w-36 h-28" style="background-color: #f1f1f1;">100</div>
    <div class="w-36 h-28" style="background-color: #e5e7eb;">200</div>
    <div class="w-36 h-28" style="background-color: #aaa8ad;"> 300</div>
    <div class="w-36 h-28" style="background-color: #a3a3a3;">400</div>
    <div class="w-36 h-28" style="background-color: #4c4b4b;">500</div>
    <div class="w-36 h-28" style="background-color: #323232;">600</div>
    <div class="w-36 h-28" style="background-color: #262626;">700</div>
    <div class="w-36 h-28" style="background-color: #1c1c1c;">800</div>
    <div class="w-36 h-28" style="background-color: #0a0a0a;">900</div>
  </div>